<!--=========================
   About Section Area
==========================-->
<section class="pt-10 sm:pt-16 md:pt-[100px] relative overflow-hidden">
  <div class="container">
    <!-- Section Header -->
    <div>
      <h3
        class="reveal-text-2 text-3xl lg:text-5xl lg:leading-[1.5] text-secondary dark:text-backgroundBody mb-20"
      >
        Rivor Agency: Shaping the Future of Digital Innovation. We are dedicated
        to empowering blockchain pioneers and transforming the realm of digital
        ownership for today and beyond.
      </h3>
    </div>
  </div>

  <!-- skew Marquee Start -->
  <div
    style="
      transform: translate3d(-200px, 0px, 0px) scale3d(1, 1, 1) rotateX(30deg)
        rotateY(17deg) rotateZ(342deg) skew(7deg, 359deg);
      transform-style: preserve-3d;
    "
    id="skew-Marquee"
  >
    <div class="pb-20 lg:pb-40 pt-20">
      <!-- Marquee Wrapper -->
      <div class="relative">
        <!-- Infinite Scroll Container -->
        <div
          class="z-50 flex gap-5 w-fit flex-nowrap whitespace-nowrap will-change-transform marquee-inner reveal-me"
        >
          <figure
            class="marquee-part flex items-center justify-center size-[370px] z-50 flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-01.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-02.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-03.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-04.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-05.png" alt="images" />
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
