<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-x-16 gap-y-6 justify-center md:justify-between max-md:items-center border-y dark:border-dark py-6 md:py-10 mb-10 md:mb-[70px]"
    >
      <h3 class="max-md:text-3xl md:flex-1 text-center">
        Join  in the journey
      </h3>
      <div
        class="flex max-md:flex-wrap max-md:justify-center gap-9 md:gap-[60px]"
      >
        <div>
          <h4
            class="md:text-[47px] lg:text-[54px] xl:text-[64px] font-normal leading-[1.1] lg:leading-[1.2] mb-2 lg:mb-5 text-center"
          >
            $2B
          </h4>
          <p>Total Revenue</p>
        </div>
        <div id="counter">
          <h4
            class="md:text-[47px] lg:text-[54px] xl:text-[64px] font-normal leading-[1.1] lg:leading-[1.2] mb-2 lg:mb-5 text-center"
          >
            <span class="counter" data-value="15"> </span>
            +
          </h4>
          <p>Projects Successfully</p>
        </div>
        <div id="counter">
          <h4
            class="md:text-[47px] lg:text-[54px] xl:text-[64px] font-normal leading-[1.1] lg:leading-[1.2] mb-2 lg:mb-5 text-center"
          >
            <span class="counter" data-value="15"> </span>
          </h4>
          <p>Awwwwards</p>
        </div>
      </div>
    </div>

    <!-- about section -->
    <div>
      <h3
        class="text-5xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl leading-tight xl:leading-[1.1] tracking-[-2px] xl:tracking-[-2.88px] mb-8 lg:mb-[52px] font-medium max-md:text-center text-appear"
      >
        A few words about me
      </h3>
      <div class="flex flex-col lg:flex-row gap-y-16 gap-x-16 reveal-me">
        <img src="images/portfolio/about-banner.png" alt="About me" />
        <div>
          <p class="max-w-2xl mb-8">
            Behind the Lens: With an unwavering love for the art form, I embark
            on a perpetual quest to freeze time and encapsulate the essence of
            emotions, beauty, and storytelling through my lens. Drawing
            inspiration from the world around me, I strive to create captivating
            visuals that transcend the ordinary, unveiling the hidden magic in
            everyday encounters.
          </p>
          <div
            class="flex flex-col-reverse xl:flex-row gap-y-12 sm:gap-y-16 lg:gap-y-6 justify-between"
          >
            <ul class="self-start xl:self-end">
              <li class="">
                <a
                  href="about.html"
                  class="rv-button rv-button-secondary block md:inline-block text-center"
                >
                  <div class="rv-button-top">
                    <span>LEarn more</span>
                  </div>
                  <div class="rv-button-bottom">
                    <span>LEarn more</span>
                  </div>
                </a>
              </li>
            </ul>
            <p class="lg:max-w-[340px]">
              Whether capturing the unspoken love between two souls, the vibrant
              energy of bustling city streets, or the tender innocence of a
              child's gaze, each frame becomes a testament to my relentless
              pursuit of visual excellence.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
