<!--==================================
   About Content Area With Logo
===================================-->
<section
  class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] pt-28 md:pt-32 lg:pt-44 xl:pt-[200px] relative overflow-hidden about"
>
  <div class="container">
    <!-- Content Wrapper -->
    <div
      class="flex flex-col items-center lg:items-stretch justify-center lg:justify-normal reveal-me"
    >
      <!-- Logo Circle -->
      <div
        class="relative w-[168px] h-[168px] bg-secondary dark:bg-white rounded-[50%] flex items-center justify-center mx-auto"
      >
        <figure>
          <img
            src="images\icons\text-circle-logo.png"
            alt="text-circle-logo"
            class="inline dark:hidden"
          />
          <img
            src="images\icons\text-circle-dark-logo.png"
            alt="text-circle-logo"
            class="hidden dark:inline"
          />
        </figure>
        <div class="text">
          <p>Building Brands,and Creating Impact</p>
        </div>
      </div>

      <!-- About Description -->
      <h3 class="mt-[34px] mx-auto reveal-text relative overflow-hidden">
        We specialize in designing cutting-edge web
        <br class="hidden sm:block" />
        experiences that flawlessly blend creativity with
        <br class="hidden sm:block" />
        innovative technology.
        <br />
        <br />
        We provide customized solutions for <br class="hidden sm:block" />
        enhancing your existing site or building <br class="hidden sm:block" />
        a brand-new digital platform from the ground up
      </h3>
    </div>
  </div>
</section>
