<section
  class="about pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Content Wrapper -->
    <div
      class="flex flex-col items-center lg:items-stretch justify-center lg:justify-normal reveal-me"
    >
      <!-- Logo Circle -->
      <div
        class="relative w-[168px] h-[168px] bg-secondary dark:bg-white rounded-[50%] flex items-center justify-center mx-auto"
      >
        <figure>
          <img
            src="images\icons\text-circle-logo.png"
            alt="text-circle-logo"
            class="inline dark:hidden"
          />
          <img
            src="images\icons\text-circle-dark-logo.png"
            alt="text-circle-logo"
            class="hidden dark:inline"
          />
        </figure>
        <div class="text">
          <p>Building Brands,and Creating Impact</p>
        </div>
      </div>

      <!-- About Description -->
      <h4 class="mt-8 md:mt-[60px] mb-6 md:mb-10 mx-auto reveal-text">
        With years of industry expertise, our team of visionaries, storytellers,
        and design virtuosos come together to weave magic that captivates hearts
        and minds.
      </h4>
      <p class="max-w-3xl mx-auto text-center reveal-me">
        With years of experience and a diverse portfolio, we have established
        ourselves as a leading force in the world of video production. At our
        core, we believe in the transformative power of visual storytelling. Our
        mission is to bring your ideas to life, creating content that not only
        meets but exceeds your expectations.
      </p>
    </div>

    <!-- ----------------------- -->
    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 justify-items-center mt-20"
    >
      <!-- 1 -->
      <div
        class="border-t dark:border-dark py-7 flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-start min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me"
        id="counter"
      >
        <h2 class="sm:min-w-[170px]">
          <span class="counter" data-value="14"></span>
        </h2>
        <p class="text-lg">Years of experience</p>
      </div>
      <!-- 2 -->
      <div
        class="border-t dark:border-dark py-7 flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-start min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me"
        id="counter"
      >
        <h2 class="sm:min-w-[170px]">
          <span class="counter" data-value="80"></span>+
        </h2>
        <p class="text-lg">Projects done</p>
      </div>
      <!-- 3 -->
      <div
        class="border-t dark:border-dark py-7 flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-start min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me"
        id="counter"
      >
        <h2 class="sm:min-w-[170px]">
          <span class="counter" data-value="280"></span>
          +
        </h2>
        <p class="text-lg">Satisfied clients</p>
      </div>
      <!-- 4 -->
      <div
        class="border-t dark:border-dark py-7 flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-start min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me"
        id="counter"
      >
        <h2 class="sm:min-w-[170px]">
          <span class="counter" data-value="9"></span>
        </h2>
        <p class="text-lg">Trusted partners</p>
      </div>
      <!-- 5 -->
      <div
        class="border-t dark:border-dark py-7 flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-start min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me"
        id="counter"
      >
        <h2 class="sm:min-w-[170px]">
          <span class="counter" data-value="19"></span>
        </h2>
        <p class="text-lg">Awards</p>
      </div>
      <!-- 5 -->
      <div
        class="border-t dark:border-dark py-7 flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-start min-w-[355px] lg:min-w-[300px] xl:min-w-[355px] reveal-me"
        id="counter"
      >
        <h2 class="sm:min-w-[170px]">
          <span class="counter" data-value="39"></span>
        </h2>
        <p class="text-lg">Professional members</p>
      </div>
    </div>
  </div>
</section>
