<!--==================================
   About Description Section Area
===================================-->
<section
  class="pt-6 lg:pt-12 pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- About Description Text -->
    <h3
      class="reveal-text-2 text-xl lg:text-[40px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
    >
      At Rivor Agency, we blend creativity with functionality to craft designs
      that resonate with your's brand essence. Let's create something beautiful
      together. we blend creativity with functionality to craft designs that
      resonate with your's brand essence. Let's create something beautiful
      together.
    </h3>
  </div>
</section>
