<section
  class="pt-28 md:pt-32 lg:pt-44 xl:pt-[200px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- About Description -->
    <h3 class="mx-auto reveal-text-2 reveal-me">
      We specialize in designing cutting-edge web <br />
      experiences that flawlessly blend creativity with <br />
      innovative technology.
      <br />
      <br />
      We provide customized solutions for <br />
      enhancing your existing site or building <br />
      a brand-new digital platform from the ground up
    </h3>

    <div
      class="flex max-md:flex-wrap items-center justify-around gap-[30px] pt-[75px] reveal-me"
    >
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="15"></span>
        </h2>
        <p>Years of Experience</p>
      </div>
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="50"></span> +
        </h2>
        <p>Countries in Services</p>
      </div>
      <div
        class="border dark:border-dark py-7 lg:py-10 px-9 lg:px-16 space-y-3 flex justify-center flex-col items-center"
        id="counter"
      >
        <h2 class="lg:text-7xl">
          <span class="counter" data-value="30"></span> %
        </h2>
        <p>Incrase in Productivity</p>
      </div>
    </div>
  </div>
</section>
