<!--=====================================
    Awards & Recognition Area
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <!-- Section Header -->
  <div
    class="container flex flex-col md:flex-row justify-center md:justify-between max-md:items-start gap-x-8 gap-y-3 mb-9 md:mb-20"
  >
    <!-- Section Title -->
    <div class="flex-1">
      <h2 class="text-appear mt-4 lg:mt-9 sm:text-nowrap">
        <i class="font-instrument"> Awards we </i>
        <br class="hidden md:block" />
        received
      </h2>
    </div>
    <!-- Section Description -->
    <p class="max-w-md text-appear md:self-end flex-1">
      Our user-centered design encourages productivity and boosts revenue.
    </p>
  </div>

  <!-- Awards List Container -->
  <div
    class="divide-y-[1px] dark:divide-dark [&>*:first-child]:border-t max-md:last:border-b dark:last:border-dark dark:[&>*:first-child]:border-dark sm:px-10 reveal-me"
  >
    <!-- Single Award Item -->
    <div
      class="grid grid-cols-12 max-md:text-center py-10 px-5 text-left items-center h-full relative group overflow-hidden"
    >
      <div
        class="w-full h-full absolute bg-secondary dark:bg-primary/90 left-0 top-0 origin-bottom scale-y-0 transition-transform ease-in-out duration-500 group-hover:scale-y-100 group-hover:origin-top"
      ></div>
      <span
        class="font-instrument max-md:col-span-2 group-hover:text-white transition-colors duration-300 justify-self-center col-span-2 italic text-[19px] font-normal leading-[1.4] relative z-20"
        >2020</span
      >
      <h3
        class="text-xl sm:text-2xl md:text-[28px] lg:text-4xl xl:text-5xl xl:leading-[1.2] max-md:col-span-10 col-span-8 group-hover:text-white transition-colors duration-300 relative z-20"
      >
        Innovation in Corporate Video
      </h3>

      <p
        class="text-[21px] leading-[1.4] text-secondary dark:text-backgroundBody group-hover:text-white transition-colors duration-300 max-md:col-span-2 col-span-2 relative z-20"
      >
        Work Shop
      </p>
    </div>
    <!-- Single Award Item -->
    <div
      class="grid grid-cols-12 max-md:text-center py-10 px-5 text-left items-center h-full relative group overflow-hidden"
    >
      <div
        class="w-full h-full absolute bg-secondary dark:bg-primary/90 left-0 top-0 origin-bottom scale-y-0 transition-transform ease-in-out duration-500 group-hover:scale-y-100 group-hover:origin-top"
      ></div>
      <span
        class="font-instrument max-md:col-span-2 group-hover:text-white transition-colors duration-300 justify-self-center col-span-2 italic text-[19px] font-normal leading-[1.4] relative z-20"
        >2021</span
      >
      <h3
        class="text-xl sm:text-2xl md:text-[28px] lg:text-4xl xl:text-5xl xl:leading-[1.2] max-md:col-span-10 col-span-8 group-hover:text-white transition-colors duration-300 relative z-20"
      >
        Best Documentary Feature, Paris Film Festival
      </h3>

      <p
        class="text-[21px] leading-[1.4] text-secondary group-hover:text-white transition-colors duration-300 dark:text-backgroundBody max-md:col-span-2 col-span-2 relative z-20"
      >
        fury member
      </p>
    </div>
    <!-- Single Award Item -->
    <div
      class="grid grid-cols-12 max-md:text-center py-10 px-5 text-left items-center h-full relative group overflow-hidden"
    >
      <div
        class="w-full h-full absolute bg-secondary dark:bg-primary/90 left-0 top-0 origin-bottom scale-y-0 transition-transform ease-in-out duration-500 group-hover:scale-y-100 group-hover:origin-top"
      ></div>
      <span
        class="font-instrument max-md:col-span-2 group-hover:text-white transition-colors duration-300 justify-self-center col-span-2 italic text-[19px] font-normal leading-[1.4] relative z-20"
        >2022</span
      >
      <h3
        class="text-xl sm:text-2xl md:text-[28px] lg:text-4xl xl:text-5xl xl:leading-[1.2] max-md:col-span-10 col-span-8 group-hover:text-white transition-colors duration-300 relative z-20 mr-1"
      >
        Best Music Video, European Music Awards
      </h3>

      <p
        class="text-[21px] leading-[1.4] text-secondary dark:text-backgroundBody group-hover:text-white transition-colors duration-300 max-md:col-span-2 col-span-2 relative z-20"
      >
        Taken team
      </p>
    </div>
    <!-- Single Award Item -->
    <div
      class="grid grid-cols-12 max-md:text-center py-10 px-5 text-left items-center h-full relative group overflow-hidden"
    >
      <div
        class="w-full h-full absolute bg-secondary dark:bg-primary/90 left-0 top-0 origin-bottom scale-y-0 transition-transform ease-in-out duration-500 group-hover:scale-y-100 group-hover:origin-top"
      ></div>
      <span
        class="font-instrument max-md:col-span-2 group-hover:text-white transition-colors duration-300 justify-self-center col-span-2 italic text-[19px] font-normal leading-[1.4] relative z-20"
        >2023</span
      >
      <h3
        class="text-xl sm:text-2xl md:text-[28px] lg:text-4xl xl:text-5xl xl:leading-[1.2] max-md:col-span-10 col-span-8 group-hover:text-white transition-colors duration-300 relative z-20"
      >
        Best Culinary Series, Taste Awards
      </h3>

      <p
        class="text-[21px] leading-[1.4] text-secondary dark:text-backgroundBody group-hover:text-white transition-colors duration-300 max-md:col-span-2 col-span-2 relative z-20"
      >
        Hono mention
      </p>
    </div>
  </div>
</section>
