<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-4 gap-x-10 justify-center lg:justify-between items-start md:items-center mb-10 md:mb-20 max-md:px-10"
    >
      <div>
        <h2 class="text-appear">
          <span class="italic font-instrument"> Latest</span> <br />

          blog & news
        </h2>
      </div>
      <ul class="reveal-me">
        <li class="block md:inline-block w-[90%] mx-auto md:w-auto">
          <a
            href="blog.html"
            class="rv-button rv-button-white block md:inline-block text-center"
          >
            <div class="rv-button-top">
              <span>View Blog</span>
            </div>
            <div class="rv-button-bottom">
              <span>View Blog</span>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <article class="mt-20 [&>*:not(last-child)]:mb-10">
      <div
        class="border-b dark:border-dark pb-10 flex flex-col-reverse gap-y-7 lg:flex-row justify-center md:justify-normal items-center reveal-me underline-hover-effect group"
      >
        <div class="max-lg:self-center lg:self-center max-lg:max-w-96">
          <div class="rv-badge mb-5">
            <span class="rv-badge-text">June 7, 2020</span>
          </div>
          <a href="blog-details.html">
            <div class="blog-title mb-6 lg:mb-10">
              <h3
                class="text-[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                Unlocking the Secrets of Cinematic Storytelling <br />
                Tips from Parisian Filmmakers
              </h3>
            </div>
          </a>

          <a href="blog-details.html" class="rv-button rv-button-primary2">
            <div class="rv-button-top !text-center flex items-center">
              <span class="pr-1">READ MORE</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom !text-center flex items-center">
              <span class="pr-1">READ MORE</span>
              <img
                class="inline"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>

        <figure class="overflow-hidden max-w-[370px]">
          <a href="blog-details.html">
            <img
              src="images/blog-img/blogV3-img-4.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </a>
        </figure>
      </div>
      <div
        class="border-b dark:border-dark pb-10 flex flex-col-reverse gap-y-7 lg:flex-row justify-center md:justify-normal items-center reveal-me underline-hover-effect group"
      >
        <div class="max-lg:self-center lg:self-center max-lg:max-w-96">
          <div class="rv-badge mb-5">
            <span class="rv-badge-text">May 7, 2022</span>
          </div>
          <a href="blog-details.html">
            <div class="blog-title mb-6 lg:mb-10">
              <h3
                class="text-[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
              >
                Behind the Scenes Crafting a Music Video that Resonates
              </h3>
            </div>
          </a>

          <a href="blog-details.html" class="rv-button rv-button-primary2">
            <div class="rv-button-top !text-center flex items-center">
              <span class="pr-1">READ MORE</span>
              <img
                class="inline dark:hidden"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
              <img
                class="hidden dark:inline"
                src="images/icons/top-arrow-dark.svg"
                alt="Arrow Icon"
              />
            </div>
            <div class="rv-button-bottom !text-center flex items-center">
              <span class="pr-1">READ MORE</span>
              <img
                class="inline"
                src="images/icons/top-arrow.svg"
                alt="Arrow Icon"
              />
            </div>
          </a>
        </div>

        <figure class="overflow-hidden max-w-[370px]">
          <a href="blog-details.html">
            <img
              src="images/blog-img/blogV3-img-5.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </a>
        </figure>
      </div>
    </article>
  </div>
</section>
