<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-5 gap-x-10 justify-center lg:justify-start items-start md:items-center mb-10 md:mb-20"
    >
      <div class="flex-1">
        <h2 class="text-appear">
          Featured <span class="font-instrument italic">projects</span>
        </h2>
      </div>
      <div class="flex-1 max-w-md">
        <p class="text-appear max-md:text-justify dark:text-colorText">
          Our user-centered design encourages productivity and boosts revenue.
        </p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center md:items-start gap-8 gap-y-12"
    >
      <div class="reveal-me underline-hover-effect group">
        <a href="blog-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-13.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[24px] mb-2 md:mb-3.5 flex items-center justify-between">
          <p
            class="text-[13px] leading-6 tracking-[8px] uppercase font-normal text-secondary dark:text-white"
          >
            Case study
          </p>
          <p
            class="text-base md:text-xl leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2020
          </p>
        </div>
        <a href="blog-details.html">
          <div class="blog-title">
            <h3
              class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
            >
              Epicurean Elegance
            </h3>
          </div>
        </a>
        <div class="border-b dark:border-dark mt-6"></div>
      </div>
      <div class="reveal-me underline-hover-effect group">
        <a href="blog-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-14.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[24px] mb-2 md:mb-3.5 flex items-center justify-between">
          <p
            class="text-[13px] leading-6 tracking-[8px] uppercase font-normal text-secondary dark:text-white"
          >
            Projects
          </p>
          <p
            class="text-base md:text-xl leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2021
          </p>
        </div>
        <a href="blog-details.html">
          <div class="blog-title">
            <h3
              class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
            >
              Artistry in Motion
            </h3>
          </div>
        </a>
        <div class="border-b dark:border-dark mt-6"></div>
      </div>
      <div class="reveal-me underline-hover-effect group">
        <a href="blog-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-15.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[24px] mb-2 md:mb-3.5 flex items-center justify-between">
          <p
            class="text-[13px] leading-6 tracking-[8px] uppercase font-normal text-secondary dark:text-white"
          >
            Case study
          </p>
          <p
            class="text-base md:text-xl leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2020
          </p>
        </div>
        <a href="blog-details.html">
          <div class="blog-title">
            <h3
              class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
            >
              Digital Canvas
            </h3>
          </div>
        </a>
        <div class="border-b dark:border-dark mt-6"></div>
      </div>
      <div class="reveal-me underline-hover-effect group">
        <a href="blog-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-16.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[24px] mb-2 md:mb-3.5 flex items-center justify-between">
          <p
            class="text-[13px] leading-6 tracking-[8px] uppercase font-normal text-secondary dark:text-white"
          >
            Case study
          </p>
          <p
            class="text-base md:text-xl leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2020
          </p>
        </div>
        <a href="blog-details.html">
          <div class="blog-title">
            <h3
              class="text[25px] md:text-3xl lg:text-4xl lg:leading-[1.2] lg:tracking-[-0.72px]"
            >
              Fashion Forward
            </h3>
          </div>
        </a>
        <div class="border-b dark:border-dark mt-6"></div>
      </div>
    </div>
  </div>
</section>
