<!--=====================================
   Career Page Header Section
======================================-->
<section
  class="pt-32 sm:pt-36 md:pt-44 lg:pt-44 xl:pt-[210px] pb-20 md:pb-32 lg:pb-[180px] relative overflow-hidden"
>
  <!-- Gradient Background -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-[50%] left-[30%] -translate-y-1/2 -translate-x-[30%] -z-10 blur-[60px]"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Header Content -->
  <div class="container max reveal-me">
    <!-- Page Navigation -->
    <p
      class="flex flex-col md:flex-row max-lg:justify-center items-center gap-2 md:gap-5 font-poppins text-sm font-normal leading-6 tracking-[3px] uppercase"
    >
      <span>Creative Studio</span>
      <span
        class="inline-block w-[150px] h-[1px] bg-dark dark:bg-[#ffffffb3]"
      ></span>
      <span>Join Our Team</span>
    </p>

    <!-- Main Heading -->
    <h1 class="mt-6 lg:mt-10 max-lg:text-center">
      Shape the Future of Digital <br />
      Design as an <span class="font-instrument italic">Innovator</span> with Us
    </h1>
  </div>
</section>
