<!--=====================================
    Career Page Hero Section
======================================-->
<section
  class="pt-32 sm:pt-36 md:pt-40 lg:pt-44 xl:pt-[210px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <!-- Gradient Background -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[60px]"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Hero Content -->
  <div class="container reveal-me">
    <div class="text-center">
      <div class="rv-badge">
        <span class="rv-badge-text">@@badgeTitle</span>
      </div>
      <h1 class="mt-3.5 sm:mt-6 md:mt-7 mb-5 md:mb-8 font-medium">@@title</h1>
      <p class="">@@description</p>
    </div>

    <!-- CTA Button -->
    <div class="flex justify-center mt-11 md:mt-[76px]">
      <a href="contact.html" class="rv-button rv-button-secondary">
        <div class="rv-button-top !text-center">
          <span>Get Started</span>
        </div>
        <div class="rv-button-bottom !text-center">
          <span>Get Started</span>
        </div>
      </a>
    </div>
  </div>
</section>
