<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div
      class="max-w-4xl mx-auto grid max-md:grid-cols-2 md:grid-cols-4 reveal-me border-t border-x [&>*]:border-r max-md:[&>*:nth-child(2)]:border-r-0 max-md:[&>*:nth-child(6)]:border-r-0 [&>*:nth-child(4)]:border-r-0 [&>*:nth-child(8)]:border-r-0 [&>*]:border-b dark:[&>*]:border-dark dark:border-dark"
    >
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>

      <!-- Reverse Marquee -->
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/invert.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/invert-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
      <figure class="px-12 py-8">
        <img
          src="images/marquee-img/greenish.svg"
          alt="Invert Logo"
          class="inline dark:hidden"
        />
        <img
          src="images/marquee-img/greenish-dark.svg"
          alt="Invert Logo"
          class="hidden dark:inline"
        />
      </figure>
    </div>
  </div>
</section>
