<!--=====================================
   Clients Section
======================================-->
<section
  class="bg-dark py-20 lg:py-[120px] dark:py-0 dark:lg:py-0 mt-14 md:mt-16 lg:mt-[88px] xl:mt-[100px] mb-14 md:mb-16 lg:mb-[88px] xl:mb-[100px] relative overflow-hidden"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-3 justify-center md:justify-between items-start md:items-end mb-10 md:mb-20"
    >
      <h2 class="text-appear text-backgroundBody block md:hidden flex-1">
        <span class="font-instrument italic">Have</span>

        Trust in us
      </h2>
      <h2 class="text-appear text-backgroundBody hidden md:block flex-1">
        <span class="font-instrument lg:text-[70px] italic">Have</span>
        <br />
        Trust in us
      </h2>

      <div class="md:self-end flex-1">
        <p class="text-appear max-w-lg">
          Our agency is your gateway to discovering extraordinary artworks that
          resonate with your aesthetic sensibilities.
        </p>
      </div>
    </div>
  </div>
  <!-- Clients Logo Marquee -->
  <div class="marquee-container reveal-me">
    <div class="flex items-center gap-32 justify-between py-8">
      <div class="min-w-[190px] flex justify-center ml-32">
        <img src="images/icons/company/client-1.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-2.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-3.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-4.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-5.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-1.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-2.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-3.svg" alt="client Logo" />
      </div>
    </div>
  </div>

  <!-- Reverse -->
  <div class="marquee-reverse-container reveal-me">
    <div class="flex items-center gap-32 justify-between py-8">
      <div class="min-w-[190px] flex justify-center ml-32">
        <img src="images/icons/company/client-1.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-2.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-3.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-4.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-5.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-1.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-2.svg" alt="client Logo" />
      </div>
      <div class="min-w-[190px] flex justify-center">
        <img src="images/icons/company/client-3.svg" alt="client Logo" />
      </div>
    </div>
  </div>

  <div class="container pt-16 lg:pt-20 pb-6 lg:pb-10 reveal-me">
    <div class="user-swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="bg-dark border border-dark p-10 flex gap-3">
            <div class="hidden md:block flex-grow-0">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="60"
                  height="60"
                  viewBox="0 0 60 60"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.8286 6V16.9714C21.3264 16.9714 16.9186 17.1793 16.9184 27.1958V32.4H27.6V54H6V32.4V27.1958C6 19.3208 8.03795 13.4729 12.4905 9.81413C15.5705 7.28323 19.2195 6 23.8286 6ZM50.229 6V16.9714C47.7268 16.9714 43.319 17.1793 43.3187 27.1958V32.4H54.0004V54H32.4004V32.4V27.1958C32.4004 19.3208 34.4383 13.4729 38.8909 9.81413C41.9709 7.28323 45.6199 6 50.229 6Z"
                    fill="white"
                    fill-opacity="0.1"
                  />
                </svg>
              </span>
            </div>
            <div class="flex-1">
              <p
                class="text-base md:text-xl italic md:leading-[1.5] mb-[30px] text-backgroundBody/70"
              >
                The skeleton plan of a website can be broken down into three
                components
              </p>
              <h3
                class="text-xl md:text-[30px] md:leading-9 mb-10 text-backgroundBody"
              >
                Exceptional materials. The most durable glass ever in a <br />
                smartphone. A beautiful new gold finish, achieved with an
                atomic-level.
              </h3>
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-3">
                  <img src="images/avatar/review-5.png" alt="Avatar Img" />
                  <div>
                    <h4
                      class="text-lg md:text-2xl md:leading-[1.2] text-backgroundBody"
                    >
                      Kathryn Murphy
                    </h4>
                    <p
                      class="text-sm font-poppins leading-5 font-light text-backgroundBody/70"
                    >
                      CEO at Vercel
                    </p>
                  </div>
                </div>
                <div class="self-end max-xs:hidden">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="60"
                      height="60"
                      viewBox="0 0 60 60"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M36.1714 54L36.1714 43.0286C38.6736 43.0286 43.0814 42.8207 43.0816 32.8042L43.0816 27.6L32.4 27.6L32.4 6L54 6L54 27.6L54 32.8042C54 40.6792 51.9621 46.5271 47.5095 50.1859C44.4295 52.7168 40.7805 54 36.1714 54ZM9.77104 54L9.77104 43.0286C12.2732 43.0286 16.681 42.8207 16.6812 32.8042L16.6812 27.6L5.99961 27.6L5.99961 6L27.5996 6L27.5996 27.6L27.5996 32.8042C27.5996 40.6792 25.5617 46.5271 21.1091 50.1859C18.0291 52.7168 14.3801 54 9.77104 54Z"
                        fill="white"
                        fill-opacity="0.1"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-dark border border-dark p-10 flex gap-3">
            <div class="hidden md:block flex-grow-0">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="60"
                  height="60"
                  viewBox="0 0 60 60"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.8286 6V16.9714C21.3264 16.9714 16.9186 17.1793 16.9184 27.1958V32.4H27.6V54H6V32.4V27.1958C6 19.3208 8.03795 13.4729 12.4905 9.81413C15.5705 7.28323 19.2195 6 23.8286 6ZM50.229 6V16.9714C47.7268 16.9714 43.319 17.1793 43.3187 27.1958V32.4H54.0004V54H32.4004V32.4V27.1958C32.4004 19.3208 34.4383 13.4729 38.8909 9.81413C41.9709 7.28323 45.6199 6 50.229 6Z"
                    fill="white"
                    fill-opacity="0.1"
                  />
                </svg>
              </span>
            </div>
            <div class="flex-1">
              <p
                class="text-base md:text-xl italic md:leading-[1.5] mb-[30px] text-backgroundBody/70"
              >
                The skeleton plan of a website can be broken down into three
                components
              </p>
              <h3
                class="text-xl md:text-[30px] md:leading-9 mb-10 text-backgroundBody"
              >
                Exceptional materials. The most durable glass ever in a <br />
                smartphone. A beautiful new gold finish, achieved with an
                atomic-level.
              </h3>
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-3">
                  <img src="images/avatar/review-2.png" alt="Avatar Img" />
                  <div>
                    <h4
                      class="text-lg md:text-2xl md:leading-[1.2] text-backgroundBody"
                    >
                      John Deo
                    </h4>
                    <p
                      class="text-sm font-poppins leading-5 font-light text-backgroundBody/70"
                    >
                      CEO at W3School
                    </p>
                  </div>
                </div>
                <div class="self-end max-xs:hidden">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="60"
                      height="60"
                      viewBox="0 0 60 60"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M36.1714 54L36.1714 43.0286C38.6736 43.0286 43.0814 42.8207 43.0816 32.8042L43.0816 27.6L32.4 27.6L32.4 6L54 6L54 27.6L54 32.8042C54 40.6792 51.9621 46.5271 47.5095 50.1859C44.4295 52.7168 40.7805 54 36.1714 54ZM9.77104 54L9.77104 43.0286C12.2732 43.0286 16.681 42.8207 16.6812 32.8042L16.6812 27.6L5.99961 27.6L5.99961 6L27.5996 6L27.5996 27.6L27.5996 32.8042C27.5996 40.6792 25.5617 46.5271 21.1091 50.1859C18.0291 52.7168 14.3801 54 9.77104 54Z"
                        fill="white"
                        fill-opacity="0.1"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="bg-dark border border-dark p-10 flex gap-3">
            <div class="hidden md:block flex-grow-0">
              <span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="60"
                  height="60"
                  viewBox="0 0 60 60"
                  fill="none"
                >
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M23.8286 6V16.9714C21.3264 16.9714 16.9186 17.1793 16.9184 27.1958V32.4H27.6V54H6V32.4V27.1958C6 19.3208 8.03795 13.4729 12.4905 9.81413C15.5705 7.28323 19.2195 6 23.8286 6ZM50.229 6V16.9714C47.7268 16.9714 43.319 17.1793 43.3187 27.1958V32.4H54.0004V54H32.4004V32.4V27.1958C32.4004 19.3208 34.4383 13.4729 38.8909 9.81413C41.9709 7.28323 45.6199 6 50.229 6Z"
                    fill="white"
                    fill-opacity="0.1"
                  />
                </svg>
              </span>
            </div>
            <div class="flex-1">
              <p
                class="text-base md:text-xl italic md:leading-[1.5] mb-[30px] text-backgroundBody/70"
              >
                The skeleton plan of a website can be broken down into three
                components
              </p>
              <h3
                class="text-xl md:text-[30px] md:leading-9 mb-10 text-backgroundBody"
              >
                Exceptional materials. The most durable glass ever in a <br />
                smartphone. A beautiful new gold finish, achieved with an
                atomic-level.
              </h3>
              <div class="flex justify-between items-center">
                <div class="flex items-center gap-3">
                  <img src="images/avatar/review-8.png" alt="Avatar Img" />
                  <div>
                    <h4
                      class="text-lg md:text-2xl md:leading-[1.2] text-backgroundBody"
                    >
                      Zaks Addison
                    </h4>
                    <p
                      class="text-sm font-poppins leading-5 font-light text-backgroundBody/70"
                    >
                      Manager, Operations at Wacomm
                    </p>
                  </div>
                </div>
                <div class="self-end max-xs:hidden">
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="60"
                      height="60"
                      viewBox="0 0 60 60"
                      fill="none"
                    >
                      <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M36.1714 54L36.1714 43.0286C38.6736 43.0286 43.0814 42.8207 43.0816 32.8042L43.0816 27.6L32.4 27.6L32.4 6L54 6L54 27.6L54 32.8042C54 40.6792 51.9621 46.5271 47.5095 50.1859C44.4295 52.7168 40.7805 54 36.1714 54ZM9.77104 54L9.77104 43.0286C12.2732 43.0286 16.681 42.8207 16.6812 32.8042L16.6812 27.6L5.99961 27.6L5.99961 6L27.5996 6L27.5996 27.6L27.5996 32.8042C27.5996 40.6792 25.5617 46.5271 21.1091 50.1859C18.0291 52.7168 14.3801 54 9.77104 54Z"
                        fill="white"
                        fill-opacity="0.1"
                      />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
