<!--=====================================
   Community & Social Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div class="text-center">
      <h2 class="mb-12 md:mb-20 text-appear">
        Growing <span class="font-instrument italic">together.</span> <br />As a
        community.
      </h2>
    </div>

    <!-- Community Grid -->
    <div class="grid grid-cols-12 gap-6">
      <!-- Discord Community Card -->
      <div
        class="col-span-full flex flex-col md:flex-row max-md:gap-y-8 gap-x-4 justify-center md:justify-between items-start md:items-center border dark:border-dark p-6 md:p-10 reveal-me"
      >
        <div class="max-md:block max-md:w-full">
          <h3 class="mb-8 md:my-8 lg:text-4xl leading-[1.2] tracking-[-1.08px]">
            Join Our Community of <br />
            500+ Designers
          </h3>
          <a
            href="https://discord.com/invite/Y8n8ST6a"
            class="rv-button rv-button-secondary block md:inline-block w-full md:w-auto"
          >
            <div class="rv-button-top text-center">
              <span>Join Discord</span>
            </div>
            <div class="rv-button-bottom text-center">
              <span>Join Discord</span>
            </div>
          </a>
        </div>
        <figure class="max-md:w-full">
          <img
            src="../images/community-image.jpg"
            alt="Community Discussion"
            class="max-md:w-full"
          />
        </figure>
      </div>

      <!-- YouTube Channel Card -->
      <div
        class="col-span-full md:col-span-6 border dark:border-dark pt-10 pb-10 md:pb-[60px] text-center reveal-me"
      >
        <div
          class="inline-block border border-colorText dark:border-colorText rounded-[72px] bg-backgroundBody/20 dark:bg-secondary"
        >
          <span
            class="text-black dark:text-[#FFF] text-xs uppercase tracking-[0.96px] py-2 px-4 bg-gradient-to-r from-secondary to-gray-400 dark:bg-gradient-to-r dark:from-white dark:to-[#BDBDBD] text-transparent dark:text-transparent bg-clip-text dark:bg-clip-text font-semibold inline-block"
            >Youtube</span
          >
        </div>
        <h3
          class="my-6 md:my-8 text-[25px] lg:text-4xl leading-[1.2] tracking-[-1.08px]"
        >
          Design Tips & <br />
          Tutorial Videos
        </h3>
        <a
          href="https://youtu.be/JGLfyTDgfDc?si=0-iUKu3hv8uewpxg"
          target="_blank"
          class="rv-button rv-button-secondary block md:inline-block w-[90%] max-md:mx-auto md:w-auto"
        >
          <div class="rv-button-top">
            <span>Subscribe Now</span>
          </div>
          <div class="rv-button-bottom">
            <span>Subscribe Now</span>
          </div>
        </a>
      </div>

      <!-- LinkedIn Profile Card -->
      <div
        class="col-span-full md:col-span-6 border dark:border-dark pt-10 pb-10 md:pb-[60px] text-center reveal-me"
      >
        <div
          class="inline-block border border-colorText dark:border-colorText rounded-[72px] bg-backgroundBody/20 dark:bg-secondary"
        >
          <span
            class="text-black dark:text-[#FFF] text-xs uppercase tracking-[0.96px] py-2 px-4 bg-gradient-to-r from-secondary to-gray-400 dark:bg-gradient-to-r dark:from-white dark:to-[#BDBDBD] text-transparent dark:text-transparent bg-clip-text dark:bg-clip-text font-semibold inline-block"
            >Linkedin</span
          >
        </div>
        <h3
          class="my-6 md:my-8 text-[25px] lg:text-4xl leading-[1.2] tracking-[-1.08px]"
        >
          Stay Updated On <br />
          Latest Design Trends
        </h3>
        <a
          href="https://www.linkedin.com/company/staticmania"
          target="_blank"
          class="rv-button rv-button-secondary block md:inline-block w-[90%] max-md:mx-auto md:w-auto"
        >
          <div class="rv-button-top">
            <span>Follow Now</span>
          </div>
          <div class="rv-button-bottom">
            <span>Follow Now</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
