<!--=====================================
    Contact Form Section
======================================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="container">
    <!-- Contact Form -->
    <form
      class="grid grid-cols-1 md:grid-cols-2 gap-[30px] max-w-[800px] mx-auto reveal-me"
    >
      <!-- Full Name Field -->
      <div class="md:col-span-full">
        <label
          for="name"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Full Name
        </label>
        <input
          type="text"
          name="name"
          placeholder="Enter your full name"
          class="py-4 pl-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3"
        />
      </div>

      <!-- Company Field -->
      <div>
        <label
          for="company"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Company Name
        </label>
        <input
          type="text"
          name="company"
          placeholder="Your company name"
          class="py-4 pl-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3"
        />
      </div>

      <!-- Email Field -->
      <div>
        <label
          for="email"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Work Email
        </label>
        <input
          type="email"
          name="email"
          placeholder="name@company.com"
          class="py-4 pl-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3"
        />
      </div>

      <!-- Service Selection -->
      <div class="relative">
        <label
          for="select Service"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Service Type*
        </label>
        <select
          name="Select your Service"
          class="py-4 px-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3 appearance-none indent-px text-ellipsis"
        >
          <option selected value="UI/UX">UX Design</option>
          <option value="Web design">Product Design</option>
          <option value="Web development">Brand Identity</option>
          <option value="Web development">Design System</option>
        </select>
        <span class="absolute right-5 top-1/2 translate-y-1/3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            class="inline dark:hidden"
          >
            <path
              d="M6 9L12 15L18 9"
              stroke="black"
              stroke-opacity="0.7"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            class="hidden dark:inline"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M6 9L12 15L18 9"
              stroke="white"
              stroke-opacity="0.7"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </div>

      <!-- Budget Range -->
      <div class="relative">
        <label
          for="select Service"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Project Budget*
        </label>
        <select
          name="Select your Service"
          class="py-4 px-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3 appearance-none indent-px text-ellipsis"
        >
          <option selected value="40k">$10k - $25k</option>
          <option value="55k">$25k - $50k</option>
          <option value="90k">$50k - $100k</option>
          <option value="100k+">$100k+</option>
        </select>
        <span
          class="absolute right-5 top-1/2 translate-y-1/3 inline dark:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M6 9L12 15L18 9"
              stroke="black"
              stroke-opacity="0.7"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
        <span
          class="absolute right-5 top-1/2 translate-y-1/3 hidden dark:inline"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
          >
            <path
              d="M6 9L12 15L18 9"
              stroke="white"
              stroke-opacity="0.7"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </span>
      </div>

      <!-- Project Details -->
      <div class="md:col-span-full">
        <label
          for="Message"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Project Brief*
        </label>
        <textarea
          name="Message"
          placeholder="Tell us about your project goals and timeline"
          class="py-4 pl-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3"
        ></textarea>
      </div>

      <!-- Submit Button -->
      <div class="col-span-full mx-auto sm:mt-14">
        <button type="submit" class="rv-button rv-button-primary">
          <div class="rv-button-top">
            <span>Send Message</span>
          </div>
          <div class="rv-button-bottom">
            <span>Send Message</span>
          </div>
        </button>
      </div>
    </form>
  </div>
</section>
