<section
  class="relative overflow-hidden w-full pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] max-lg:pb-10 reveal-me"
>
  <div
    class="flex items-center gap-8 flex-nowrap"
    aria-hidden="true"
    ref="inner"
  >
    <div
      class="marquee-inner flex items-center gap-[30px] text-5xl sm:text-[55px] md:text-[67px] lg:text-[84px] xl:text-8xl font-normal leading-tight xl:leading-[2.40] tracking-[-2px] xl:tracking-[-2.88px] uppercase text-nowrap"
    >
      <span> LET’S WORK TOGETHER </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <circle
            cx="15"
            cy="15.5"
            r="15"
            class="fill-black dark:fill-backgroundBody"
          />
        </svg>
      </span>
      <span> LET’S WORK TOGETHER </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <circle
            cx="15"
            cy="15.5"
            r="15"
            class="fill-black dark:fill-backgroundBody"
          />
        </svg>
      </span>
      <span> LET’S WORK TOGETHER </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <circle
            cx="15"
            cy="15.5"
            r="15"
            class="fill-black dark:fill-backgroundBody"
          />
        </svg>
      </span>
      <span> LET’S WORK TOGETHER </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <circle
            cx="15"
            cy="15.5"
            r="15"
            class="fill-black dark:fill-backgroundBody"
          />
        </svg>
      </span>
      <span> LET’S WORK TOGETHER </span>
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="31"
          viewBox="0 0 30 31"
          fill="none"
        >
          <circle
            cx="15"
            cy="15.5"
            r="15"
            class="fill-black dark:fill-backgroundBody"
          />
        </svg>
      </span>
    </div>
  </div>
</section>
