<!--=====================================
   CTA Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-[70px] lg:pb-[120px]"
>
  <div class="container">
    <!-- CTA Heading -->
    <div class="reveal-me">
      <h2
        class="text-center xl:text-[96px] font-normal xl:leading-[1.1] xl:tracking-[-2.88px]"
      >
        Let's chat!
        <div
          class="cta-slider-container max-sm:block sm:inline-block max-sm:mb-7 translate-y-2 sm:translate-y-[20px]"
        >
          <div class="cta-inline-slider">
            <div class="slide">
              <img src="images/agent/01.jpg" alt="Slide 1" />
            </div>
            <div class="slide">
              <img src="images/agent/02.jpg" alt="Slide 2" />
            </div>
            <div class="slide">
              <img src="images/agent/03.jpg" alt="Slide 3" />
            </div>
          </div>
        </div>
        with us.

        <span class="font-instrument sm:mt-10 italic block max-md:inline-block"
          >A virtual coffee?</span
        >
      </h2>
    </div>

    <!-- Contact Form -->
    <form
      class="grid grid-cols-1 md:grid-cols-2 gap-[30px] max-w-[800px] mt-20 mx-auto reveal-me"
    >
      <!-- Your Data Field -->
      <div class="md:col-span-full">
        <label
          for="name"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Your Data
        </label>
        <input
          type="text"
          name="name"
          placeholder="Name*"
          class="py-4 pl-5 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3"
        />
      </div>

      <div class="md:col-span-full">
        <label
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          You are interested in
        </label>

        <div class="flex flex-wrap gap-6 mt-3">
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="uiux"
              name="interest"
              value="UI/UX Design"
              class="hidden"
            />
            <label for="uiux" class="interest-btn">UI/UX Design</label>
          </div>
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="webdesign"
              name="interest"
              value="Web Design"
              class="hidden"
            />
            <label for="webdesign" class="interest-btn">Web Design</label>
          </div>
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="webdev"
              name="interest"
              value="Web Development"
              class="hidden"
            />
            <label for="webdev" class="interest-btn">Web Development</label>
          </div>
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="website"
              name="interest"
              value="Website Creation"
              class="hidden"
            />
            <label for="website" class="interest-btn">Website Creation</label>
          </div>
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="animation"
              name="interest"
              value="Animation"
              class="hidden"
            />
            <label for="animation" class="interest-btn">Animation</label>
          </div>
          <div class="checkbox-wrapper">
            <input
              type="checkbox"
              id="others"
              name="interest"
              value="Others"
              class="hidden"
            />
            <label for="others" class="interest-btn">Others</label>
          </div>
        </div>
      </div>

      <div class="md:col-span-full">
        <label
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Budget in USD:
        </label>

        <div class="flex flex-wrap gap-6 mt-3">
          <div class="radio-wrapper">
            <input
              type="radio"
              id="budget1"
              name="budget"
              value="$2k-4k"
              class="hidden"
            />
            <label for="budget1" class="interest-btn">$2k-4k</label>
          </div>
          <div class="radio-wrapper">
            <input
              type="radio"
              id="budget2"
              name="budget"
              value="$4k-6k"
              class="hidden"
            />
            <label for="budget2" class="interest-btn">$4k-6k</label>
          </div>
          <div class="radio-wrapper">
            <input
              type="radio"
              id="budget3"
              name="budget"
              value="$6k-8k"
              class="hidden"
            />
            <label for="budget3" class="interest-btn">$6k-8k</label>
          </div>
        </div>
      </div>

      <div class="md:col-span-full">
        <label
          for="Message"
          class="text-2xl leading-[1.2] tracking-[-0.48px] text-[#000000b3] dark:text-dark-100"
        >
          Project Details
        </label>
        <textarea
          name="Message"
          placeholder="Tell us about your project goals and timeline"
          class="py-4 pl-5 min-h-44 bg-white dark:bg-dark focus:outline-none focus:border-primary border dark:border-dark w-full text-colorText text-xl leading-[1.4] tracking-[0.4px] mt-3"
        ></textarea>
      </div>

      <!-- Submit Button -->

      <a
        href="#"
        class="rv-button rv-button-secondary !w-full col-span-full"
        type="submit"
      >
        <div class="rv-button-top !w-full !text-center">
          <span class="!font-normal"> Submit Message</span>
        </div>
        <div class="rv-button-bottom !w-full !text-center">
          <span class="!font-normal"> Submit Message</span>
        </div>
      </a>
    </form>
  </div>
</section>
