<!--===============================
    Inspiring CTA Section
===============================-->
<section
  class="bg-[#fffbfb] dark:bg-[#161616] mt-14 md:mt-16 lg:mt-[88px] xl:mt-[100px] pt-16 lg:pt-[100px] pb-20 md:pb-36"
>
  <!-- Container for the CTA section -->
  <div
    class="container flex flex-col md:flex-row justify-center max-md:items-center gap-y-10 sm:justify-between"
  >
    <!-- CTA Heading -->
    <h2
      class="text-[46px] max-lg:leading-[1.33] lg:text-[96px] font-normal leading-[1.1] lg:tracking-[-2.88px] reveal-me"
    >
      <span class="font-instrument lg:text-[100px] italic">New</span>
      <br class="hidden md:block" />
      Project?
    </h2>

    <!-- CTA Button -->
    <a href="contact.html">
      <div
        class="bg-secondary dark:bg-primary p-5 w-44 h-44 lg:w-[230px] lg:h-[230px] group reveal-me"
      >
        <figure class="bg-primary dark:bg-secondary w-full h-full relative">
          <!-- Arrow Icon (Light Mode) -->
          <img
            src="images/icons/big-arrow-Icon.svg"
            alt="Big Arrow Icon"
            class="dark:hidden inline absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:-translate-y-28 group-hover:translate-x-9 transition-all duration-500 opacity-100 group-hover:opacity-0"
          />
          <!-- Arrow Icon (Dark Mode) -->
          <img
            src="images/icons/big-arrow-Icon-dark.svg"
            alt="Big Arrow Icon"
            class="dark:inline hidden absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:-translate-y-28 group-hover:translate-x-9 transition-all duration-500 opacity-100 group-hover:opacity-0"
          />
          <!-- Arrow Icon (Light Mode - Hover) -->
          <img
            src="images/icons/big-arrow-Icon.svg"
            alt="Big Arrow Icon"
            class="inline dark:hidden absolute top-full -left-2 -translate-x-1/2 -translate-y-1/2 group-hover:-translate-y-32 group-hover:translate-x-[80%] transition-all duration-500 opacity-0 group-hover:opacity-100"
          />
          <!-- Arrow Icon (Dark Mode - Hover) -->
          <img
            src="images/icons/big-arrow-Icon-dark.svg"
            alt="Big Arrow Icon"
            class="dark:inline hidden absolute top-full -left-2 -translate-x-1/2 -translate-y-1/2 group-hover:-translate-y-32 group-hover:translate-x-[80%] transition-all duration-500 opacity-0 group-hover:opacity-100"
          />
        </figure>
      </div>
    </a>
  </div>
</section>
