<!--=====================================
   FAQ Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <!-- Section Heading and Description -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-5 justify-center lg:justify-between max-md:items-start md:items-end mb-10 lg:mb-20"
    >
      <!-- Section Heading -->
      <div class="flex-1">
        <h2 class="text-appear block md:hidden">
          <span class="font-instrument italic">People</span>
          Asked Us
        </h2>
        <h2 class="text-appear md:block hidden">
          <span class="font-instrument lg:text-[70px] italic">People</span>
          <br />
          Asked Us
        </h2>
      </div>
      <!-- Section Description -->
      <div class="md:self-end flex-1">
        <p class="text-appear max-w-lg">
          When detailing testimonials, include key elements that provide context
          and authenticity.
        </p>
      </div>
    </div>

    <!-- FAQ Accordion Items -->
    <div
      class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[30px] items-start"
    >
      <div class="space-y-[30px]">
        <!-- FAQ Item 1 -->
        <div class="reveal-me">
          <div
            class="accordion-itemV4 overflow-hidden relative w-full lg:max-w-[370px] bg-backgroundBody dark:bg-dark border data-[active=true]:border-black data-[active=false]:border-black/10 dark:data-[active=false]:border-white/10 dark:data-[active=true]:border-white/10 duration-300 px-6 md:px-10 pt-6 md:pt-10 pb-8 md:pb-[60px] space-y-6"
          >
            <div class="accordion-headerV4 cursor-pointer">
              <h3
                class="text-[23px] md:text-[25px] tracking-normal font-normal md:leading-[25.2px]"
              >
                What does it cost to work with you?
              </h3>
              <div class="accordion-header-iconV4 dark:border-dark"></div>
            </div>
            <p class="accordion-bodyV4 duration-300 h-0 overflow-hidden">
              If you need to exchange a product, please contact us within 14
              days of receiving your order. determine the best course of action
              and guide you through the exchange process.
            </p>
          </div>
        </div>
        <!-- FAQ Item 2 -->
        <div class="reveal-me">
          <div
            class="accordion-itemV4 overflow-hidden relative w-full lg:max-w-[370px] bg-backgroundBody dark:bg-dark border data-[active=true]:border-black data-[active=false]:border-black/10 dark:data-[active=false]:border-white/10 dark:data-[active=true]:border-white/10 duration-300 px-6 md:px-10 pt-6 md:pt-10 pb-8 md:pb-[60px] space-y-6"
          >
            <div class="accordion-headerV4 cursor-pointer">
              <h3
                class="text-[23px] md:text-[25px] tracking-normal font-normal md:leading-[25.2px]"
              >
                Whats your return policy?
              </h3>
              <div class="accordion-header-iconV4 dark:border-dark"></div>
            </div>
            <p class="accordion-bodyV4 duration-300 h-0 overflow-hidden">
              If you need to exchange a product, please contact us within 14
              days of receiving your order. determine the best course of action
              and guide you through the exchange process.
            </p>
          </div>
        </div>
      </div>

      <div class="space-y-[30px]">
        <!-- FAQ Item 3 -->
        <div class="reveal-me">
          <div
            class="accordion-itemV4 overflow-hidden relative w-full lg:max-w-[370px] bg-backgroundBody dark:bg-dark border data-[active=true]:border-black data-[active=false]:border-black/10 dark:data-[active=false]:border-white/10 dark:data-[active=true]:border-white/10 duration-300 px-6 md:px-10 pt-6 md:pt-10 pb-8 md:pb-[60px] space-y-6"
          >
            <div class="accordion-headerV4 cursor-pointer">
              <h3
                class="text-[23px] md:text-[25px] tracking-normal font-normal md:leading-[25.2px]"
              >
                How do I make a warranty claim?
              </h3>
              <div class="accordion-header-iconV4 dark:border-dark"></div>
            </div>
            <p class="accordion-bodyV4 duration-300 h-0 overflow-hidden">
              If you need to exchange a product, please contact us within 14
              days of receiving your order. determine the best course of action
              and guide you through the exchange process.
            </p>
          </div>
        </div>
        <!-- FAQ Item 4 -->
        <div class="reveal-me">
          <div
            class="accordion-itemV4 overflow-hidden relative w-full lg:max-w-[370px] bg-backgroundBody dark:bg-dark border data-[active=true]:border-black data-[active=false]:border-black/10 dark:data-[active=false]:border-white/10 dark:data-[active=true]:border-white/10 duration-300 px-6 md:px-10 pt-6 md:pt-10 pb-8 md:pb-[60px] space-y-6"
          >
            <div class="accordion-headerV4 cursor-pointer">
              <h3
                class="text-[23px] md:text-[25px] tracking-normal font-normal md:leading-[25.2px]"
              >
                Do I have to pay customs fees or duty on my package?
              </h3>
              <div class="accordion-header-iconV4 dark:border-dark"></div>
            </div>
            <p class="accordion-bodyV4 duration-300 h-0 overflow-hidden">
              If you need to exchange a product, please contact us within 14
              days of receiving your order. determine the best course of action
              and guide you through the exchange process.
            </p>
          </div>
        </div>
      </div>

      <div class="space-y-[30px]">
        <!-- FAQ Item 5 -->
        <div class="reveal-me">
          <div
            class="accordion-itemV4 overflow-hidden relative w-full lg:max-w-[370px] bg-backgroundBody dark:bg-dark border data-[active=true]:border-black data-[active=false]:border-black/10 dark:data-[active=false]:border-white/10 dark:data-[active=true]:border-white/10 duration-300 px-6 md:px-10 pt-6 md:pt-10 pb-8 md:pb-[60px] space-y-6"
          >
            <div class="accordion-headerV4 cursor-pointer">
              <h3
                class="text-[23px] md:text-[25px] tracking-normal font-normal md:leading-[25.2px]"
              >
                Where can I change or cancel my order?
              </h3>
              <div class="accordion-header-iconV4 dark:border-dark"></div>
            </div>
            <p class="accordion-bodyV4 duration-300 h-0 overflow-hidden">
              If you need to exchange a product, please contact us within 14
              days of receiving your order. determine the best course of action
              and guide you through the exchange process.
            </p>
          </div>
        </div>
        <!-- FAQ Item 6 -->
        <div class="reveal-me">
          <div
            class="accordion-itemV4 overflow-hidden relative w-full lg:max-w-[370px] bg-backgroundBody dark:bg-dark border data-[active=true]:border-black data-[active=false]:border-black/10 dark:data-[active=false]:border-white/10 dark:data-[active=true]:border-white/10 duration-300 px-6 md:px-10 pt-6 md:pt-10 pb-8 md:pb-[60px] space-y-6"
          >
            <div class="accordion-headerV4 cursor-pointer">
              <h3
                class="text-[23px] md:text-[25px] tracking-normal font-normal md:leading-[25.2px]"
              >
                How do I make a warranty claim?
              </h3>
              <div class="accordion-header-iconV4 dark:border-dark"></div>
            </div>
            <p class="accordion-bodyV4 duration-300 h-0 overflow-hidden">
              If you need to exchange a product, please contact us within 14
              days of receiving your order. determine the best course of action
              and guide you through the exchange process.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
