<section
  class="pt-32 md:pt-44 max-sm:px-3 pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-2/6 h-2/6 top-40 left-[12%] -z-10 blur-[35px] md:blur-[60px]"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <div class="max-w-screen-xl px-5 mx-auto">
    <div class="reveal-me">
      <h1
        class="xl:text-[96px] font-semibold xl:leading-[1.1] xl:tracking-[-2.88px] max-lg:text-center"
      >
        Design Studio
        <div
          class="cta-slider-container max-sm:block sm:inline-block max-sm:mb-7 translate-y-5"
          id="cta-img"
        >
          <div class="cta-inline-slider">
            <div class="slide">
              <img src="images/agent/01.jpg" alt="Slide 1" />
            </div>
            <div class="slide">
              <img src="images/agent/02.jpg" alt="Slide 2" />
            </div>
            <div class="slide">
              <img src="images/agent/03.jpg" alt="Slide 3" />
            </div>
          </div>
        </div>
        Shaping Web3, Tech & AI Horizons
      </h1>
    </div>

    <p class="mt-6 md:mt-10 max-w-[770px] max-lg:mx-auto reveal-me">
      As a agency we are working on client projects, official Webflow Templates
      and cloneables for the Webflow community.
    </p>
  </div>

  <!-- skew Marquee Start -->
  <div
    style="
      transform: translate3d(-200px, 0px, 0px) scale3d(1, 1, 1) rotateX(30deg)
        rotateY(17deg) rotateZ(342deg) skew(7deg, 359deg);
      transform-style: preserve-3d;
    "
    id="skew-Marquee"
  >
    <div class="pb-16 lg:pb-48 pt-24">
      <!-- Marquee Wrapper -->
      <div class="relative">
        <!-- Infinite Scroll Container -->
        <div
          class="z-50 flex gap-5 w-fit flex-nowrap whitespace-nowrap will-change-transform marquee-inner reveal-me"
        >
          <figure
            class="marquee-part flex items-center justify-center size-[370px] z-50 flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-01.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-02.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-03.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-04.png" alt="images" />
          </figure>
          <figure
            class="marquee-part flex items-center justify-center z-50 size-[370px] flex-shrink-0"
          >
            <img src="images/marquee-img/hero-marquee-05.png" alt="images" />
          </figure>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h3 class="reveal-text-2 reveal-me">
      We specialize in designing cutting-edge web experiences that flawlessly
      blend creativity with innovative technology.
    </h3>
  </div>
</section>
