<!--=====================================
   Hero Section
======================================-->
<section
  class="pt-[137px] md:pt-[180px] lg:pt-[150px] pb-14 md:pb-[100px] lg:pb-[120px] relative overflow-hidden"
>
  <!-- Gradient Background Effect -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-fw-full top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 blur-[60px] scale-90"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Hero Content -->
  <div class="container reveal-me">
    <!-- Top Label -->
    <p
      class="flex justify-center lg:justify-start items-center gap-5 font-poppins text-sm font-normal leading-6 tracking-[3px] uppercase"
    >
      <span>Design Agency</span>
      <span
        class="inline-block w-[150px] h-[1px] bg-dark dark:bg-[#ffffffb3]"
      ></span>
      <span>Rivor</span>
    </p>

    <!-- Hero Heading -->
    <h1 class="mt-5 sm:mt-10">
      Transforming Ideas into Digital
      <i class="font-instrument">Masterpieces</i> that Drive
      <i class="font-instrument">Success</i>
    </h1>
  </div>
</section>
