<section
  class="pt-[110px] md:pt-[150px] lg:pt-[190px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="max-w-screen-xl mx-auto max-lg:px-5 px-3">
    <div class="flex flex-col max-lg:justify-center lg:flex-row gap-8">
      <div class="flex-1 max-lg:self-center">
        <h1 class="xl:text-[85px] text-appear">
          Hey I'm <i class="italic font-instrument">Svetlana —</i> Web Designer
          & Product Designer
        </h1>
        <div
          class="flex items-center gap-5 mt-10 pb-10 lg:pb-16 xl:pb-24 reveal-me"
        >
          <img src="images/avatar/hero-user.png" alt="" />
          <figcaption class="">
            <span class="text-xs text-colorText italic"
              >Step into my digital universe</span
            >
            <p class="text-secondary dark:text-backgroundBody">John Deo</p>
          </figcaption>
        </div>
        <figure class="mb-8 reveal-me">
          <img
            src="images/hero-img/hero-img-01.png"
            alt="Hero Img 01"
            class="w-full"
          />
        </figure>
        <figure class="reveal-me">
          <img src="images/hero-img/hero-img-02.png" alt="" class="w-full" />
        </figure>
      </div>
      <div class="max-lg:self-center">
        <figure class="mb-8 reveal-me">
          <img src="images/hero-img/hero-img-03.png" alt="" />
        </figure>
        <figure class="reveal-me">
          <img src="images/hero-img/hero-img-04.png" alt="" />
        </figure>
      </div>
    </div>
  </div>
</section>
