<!--=====================================
   Hero Section
======================================-->
<section class="pt-36 md:pt-[180px] lg:pt-[240px] relative pb-[850px] overflow-hidden z-10">
  <!-- Hero Image Container -->
  <div class="relative max-w-xs sm:max-w-[400px] md:max-w-[570px] h-[330px] mx-auto">
    <img
      src="images/homeV3-hero.png"
      class="absolute left-0 top-0 w-full h-full object-cover zoom-image"
      alt="Hero image"
    />
  </div>

  <!-- Overlapping Text Elements -->
  <h1
    class="absolute top-56 md:top-60 lg:top-72 xl:top-96 right-4 lg:right-36 xl:right-60 text-5xl sm:text-7xl md:text-8xl lg:text-9xl xl:text-[156px] leading-[1.1] font-instrument font-normal italic"
  >
    Agency
  </h1>
  <h2
    class="absolute left-[20%] text-6xl sm:text-8xl md:text-[100px] lg:text-[140px] xl:text-[238px] leading-[1.1] mt-8"
  >
    Rivor
  </h2>
</section>
