<!--=====================================
   AI Hero Section
======================================-->
<section
  class="bg-home-ai-hero bg-no-repeat bg-cover min-h-screen w-full relative -z-10"
>
  <!-- Centered Hero Content -->
  <div class="container">
    <!-- Hero Heading with Animation -->
    <h1 class="absolute top-1/2 -translate-y-1/2 text-appear">
      Empowering the <br />
      <span class="font-instrument italic"> possibilities</span> of AI <br />
      with Rivor
    </h1>
  </div>
</section>
