<section
  class="relative z-20 w-full max-sm:pt-32 max-2xl:pt-40 2xl:min-h-screen flex items-center justify-center overflow-hidden"
>
  <!-- Background Images -->
  <div class="absolute top-0 left-0 hidden 2xl:block">
    <img
      src="images/home-3/hero-v8-img-1.png"
      alt="Abstract Top Left"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="absolute top-0 right-0 hidden 2xl:block">
    <img
      src="images/home-3/hero-v8-img-2.png"
      alt="Abstract Top Right"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="absolute bottom-0 left-0 hidden 2xl:block">
    <img
      src="images/home-3/hero-v8-img-3.png"
      alt="Abstract Bottom Left"
      class="w-full h-full object-cover"
    />
  </div>
  <div class="absolute bottom-0 right-0 hidden 2xl:block">
    <img
      src="images/home-3/hero-v8-img-4.png"
      alt="Abstract Bottom Right"
      class="w-full h-full object-cover"
    />
  </div>

  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] block 2xl:hidden scale-90"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 max-md:-translate-y-1/2 md:-translate-y-1/2"
    />
  </div>

  <!-- Content -->
  <div class="relative text-center z-10 px-4">
    <h1
      class="text-7xl sm:text-8xl md:text-[255px] lg:text-[338px] font-medium lg:leading-[338px] lg:tracking-[-10.14px] uppercase"
    >
      RIVOR
    </h1>
    <h2 class="mt-6 md:mt-10 lg:mt-20">
      Powering <br />
      businesses with <br />
      modern tech
    </h2>
  </div>
</section>
