<section
  class="pt-[110px] md:pt-[150px] xl:pt-[180px] pb-20 md:pb-24 lg:pb-32 xl:pb-[180px] relative overflow-hidden reveal-me"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px] sm:scale-75 md:scale-100"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>
  <div class="container">
    <h1
      class="text-[80px] sm:text-[100px] uppercase md:text-[240px] lg:text-[340px] xl:text-[420px] xl:leading-[404px] xl:tracking-[-12.12px] text-center"
    >
      Rivor
    </h1>
  </div>
</section>
