<!--=====================================
   SEO Hero Section
======================================-->
<section
  class="pt-32 lg:pt-[140px] xl:pt-[180px] pb-7 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <!-- Hero Content Wrapper -->
  <div
    class="flex flex-col gap-y-8 xl:flex-row justify-center md:justify-between items-center pl-10 reveal-me"
  >
    <!-- Text Content Container -->
    <div class="container max-sm:!-ml-[5%] lg:!ml-[10%] xl:!ml-[7%]">
      <!-- Agency Label -->
      <p
        class="flex gap-5 items-center max-md:justify-center font-poppins text-sm font-normal leading-6 tracking-[3px] uppercase"
      >
        SEO Agency
      </p>

      <!-- Responsive Headings -->
      <h1 class="mt-2 sm:mt-6 md:hidden block">
        We are the brilliants in terms of digital marketing
      </h1>
      <h1 class="mt-6 xl:text-[80px] 2xl:text-8xl hidden md:block">
        We are the <br />
        brilliants in terms <br />
        of digital marketing
      </h1>
    </div>

    <!-- Hero Image -->
    <figure>
      <img src="images/home-5/hero-img.png" alt="Hero Img" />
    </figure>
  </div>
</section>
