<!--=====================================
   Hero Section with Gradient
======================================-->
<section
  class="pt-[137px] md:pt-[160px] xl:pt-[180px] pb-20 md:pb-[100px] relative overflow-hidden"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full h-full top-0 left-0 -z-10 blur-[35px] md:blur-[60px]"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 max-md:-translate-y-[60%] md:-translate-y-1/2"
    />
  </div>

  <!-- Main Content Container -->
  <div class="container reveal-me">
    <div class="text-center">
      <!-- Status Badge -->
      <div class="rv-badge mb-5 md:mb-10">
        <span class="rv-badge-text">Open for new work</span>
      </div>

      <!-- Hero Heading -->
      <h1 class="mb-7 xl:mb-8">
        Empowering Brand<br />
        with Cutting-Edge<br />
        <span class="font-instrument italic">Design</span> Solutions
      </h1>

      <!-- Hero Description -->
      <p class="mb-10 md:mb-14 xl:mb-[76px] max-w-xl lg:max-w-[750px] mx-auto">
        Turn your vision into reality with Rivor. We blend design, strategy, and
        technology to build powerful digital experiences that elevate your
        brand.
      </p>

      <!-- CTA Buttons -->
      <ul
        class="flex flex-col md:flex-row justify-center items-center gap-4 md:gap-6 list-none"
      >
        <!-- Primary CTA Button -->
        <li
          class="block md:inline-block w-[90%] mx-auto md:ml-auto md:mr-0 md:w-auto"
        >
          <a
            href="/contact.html"
            class="rv-button rv-button-secondary block md:inline-block"
          >
            <div class="rv-button-top">
              <span>Start a Project</span>
            </div>
            <div class="rv-button-bottom">
              <span>Start a Project</span>
            </div>
          </a>
        </li>
        <!-- Secondary CTA Button -->
        <li
          class="block md:inline-block w-[90%] mx-auto md:mr-auto md:ml-0 md:w-auto"
        >
          <a
            href="/services.html"
            class="rv-button rv-button-white block md:inline-block"
          >
            <div class="rv-button-top">
              <span>Our Services</span>
            </div>
            <div class="rv-button-bottom">
              <span>Our Services</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
