<section class="relative overflow-hidden">
  <div
    class="relative overflow-hidden pt-28 md:pt-36 lg:pt-[220px] pb-12 sm:pb-28 lg:pb-[120px]"
  >
    <!-- Gradient Background Wrapper -->
    <div
      id="hero-gradient-wrapper"
      class="absolute w-full h-full top-[37%] left-0 -z-10 blur-[35px] md:blur-[60px] sm:scale-50 md:scale-75 lg:scale-90"
    >
      <img
        src="images/hero-gradient-background.png"
        alt="hero-gradient-background"
        id="hero-gradient"
        class="absolute left-1/2 top-[1/2] -translate-x-1/2 -translate-y-1/2"
      />
    </div>
    <div class="container reveal-me">
      <h1 class="font-semibold text-center block md:hidden">
        <span class="font-instrument italic block font-normal">Rivor</span>
        Your Portal to Infinite Design Possibilities
      </h1>
      <h1 class="font-semibold text-center hidden md:block">
        <span class="font-instrument italic block font-normal">Rivor</span>
        Your Portal to Infinite <br />
        Design Possibilities
      </h1>
    </div>
  </div>
  <figure class="w-full reveal-me scale-small-img">
    <img
      src="images/hero-banner.png"
      alt="Hero Banner Big Image"
      class="w-full"
    />
  </figure>
</section>
