<!--=====================================
   About Section with Gallery
======================================-->
<section
  class="pt-0 lg:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden -z-10 bg-backgroundBody dark:bg-dark"
>
  <div class="container">
    <!-- About Content and Subscription -->
    <div>
      <!-- About Text -->
      <h3
        class="reveal-text-2 lg:text-5xl lg:leading-[1.5] text-secondary dark:text-backgroundBody"
      >
        Rivor Agency: Shaping the Future of Digital Innovation. We are dedicated
        to empowering blockchain pioneers and transforming the realm of digital
        ownership for today and beyond.
      </h3>

      <!-- Email Subscription Form -->

      <form
        class="max-md:max-w-sm max-w-[588px] mt-8 md:mt-10 flex bg-secondary border dark:border-dark text-white w-full relative reveal-me"
      >
        <input
          type="email"
          placeholder="Your email here"
          class="border-none focus:outline-none bg-transparent placeholder:text-white dark:placeholder:text-colorText text-base block w-full p-5 md:p-[30px]"
        />
        <button
          type="submit"
          class="inline-block max-md:text-xs bg-primary p-3 md:p-[26px] uppercase text-secondary font-poppins leading-[15.4px] tracking-[1.12px] absolute top-3 md:top-2 cursor-pointer right-2"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</section>
