<!--=====================================
   Career Positions Section
======================================-->
<section
  class="mt-14 md:mt-16 lg:mt-[88px] xl:mt-[100px] mb-14 md:mb-16 lg:mb-[88px] xl:mb-[100px] relative overflow-hidden"
>
  <div
    class="absolute scale-y-[4] md:scale-y-[4] lg:scale-y-[2.2] xl:scale-y-[2.5] 2xl:scale-y-[1.4] scale-x-[2.7] left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 -z-30"
  >
    <img src="images/gradient-bg.png" alt="gradient-bg" />
  </div>
  <!-- Section Header -->
  <div class="container">
    <h2 class="text-center text-appear">
      Start your professional journey today
    </h2>
  </div>

  <!-- Job Listings Container -->
  <div class="mt-10 md:mt-[60px] [&>*:not(last-child)]:mb-6 max-lg:px-5">
    <!-- Software Developer Position -->
    <article
      class="max-w-[1170px] mx-auto border dark:border-dark bg-white dark:bg-dark p-6 lg:p-10 flex flex-col md:flex-row gap-y-7 justify-center md:justify-between items-center reveal-me"
    >
      <div
        class="flex flex-col flex-wrap justify-center md:justify-normal max-md:items-center"
      >
        <!-- Job Tags -->
        <div class="space-y-3">
          <div class="rv-badge">
            <span class="rv-badge-text">Software</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">San Francisco, California</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">Full-Time</span>
          </div>
        </div>
        <h3 class="mt-8 mb-6 text-3xl leading-[25.2px] tracking-wide">
          Software Developer
        </h3>
        <p class="max-w-[830px]">
          Creates, builds, and manages software solutions or platforms.
        </p>
      </div>
      <!-- Apply Button -->
      <div class="max-md:w-full">
        <a
          href="career-details.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top text-center">
            <span>Apply Now</span>
          </div>
          <div class="rv-button-bottom text-center">
            <span>Apply Now </span>
          </div>
        </a>
      </div>
    </article>

    <!-- Accountant Position -->
    <article
      class="max-w-[1170px] mx-auto border dark:border-dark bg-white dark:bg-dark p-6 lg:p-10 flex flex-col md:flex-row gap-y-7 justify-center md:justify-between items-center reveal-me"
    >
      <div
        class="flex flex-col flex-wrap justify-center md:justify-normal max-md:items-center"
      >
        <!-- Job Tags -->
        <div class="space-y-3">
          <div class="rv-badge">
            <span class="rv-badge-text">Accountant</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">San Francisco, California</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">Full-Time</span>
          </div>
        </div>
        <h3 class="mt-8 mb-6 text-3xl leading-[25.2px] tracking-wide">
          Accountant
        </h3>
        <p class="max-w-[830px]">
          Prepares and reviews financial records to ensure they are accurate and
          comply with relevant laws and regulations.
        </p>
      </div>
      <!-- Apply Button -->
      <div class="max-md:w-full">
        <a
          href="career-details.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top text-center">
            <span>Apply Now</span>
          </div>
          <div class="rv-button-bottom text-center">
            <span>Apply Now </span>
          </div>
        </a>
      </div>
    </article>

    <!-- Web Designer Position -->
    <article
      class="max-w-[1170px] mx-auto border dark:border-dark bg-white dark:bg-dark p-6 lg:p-10 flex flex-col md:flex-row gap-y-7 justify-center md:justify-between items-center reveal-me"
    >
      <div
        class="flex flex-col flex-wrap justify-center md:justify-normal max-md:items-center"
      >
        <!-- Job Tags -->
        <div class="space-y-3">
          <div class="rv-badge">
            <span class="rv-badge-text">Designer</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">San Francisco, California</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">Full-Time</span>
          </div>
        </div>
        <h3 class="mt-8 mb-6 text-3xl leading-[25.2px] tracking-wide">
          Web Designer
        </h3>
        <p class="max-w-[830px]">
          Designs and builds visually appealing, user-friendly websites by
          applying design principles and coding expertise.
        </p>
      </div>
      <!-- Apply Button -->
      <div class="max-md:w-full">
        <a
          href="career-details.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top text-center">
            <span>Apply Now</span>
          </div>
          <div class="rv-button-bottom text-center">
            <span>Apply Now </span>
          </div>
        </a>
      </div>
    </article>

    <!-- Product Designer Position -->
    <article
      class="max-w-[1170px] mx-auto border dark:border-dark bg-white dark:bg-dark p-6 lg:p-10 flex flex-col md:flex-row gap-y-7 justify-center md:justify-between items-center reveal-me"
    >
      <div
        class="flex flex-col flex-wrap justify-center md:justify-normal max-md:items-center"
      >
        <!-- Job Tags -->
        <div class="space-y-3">
          <div class="rv-badge">
            <span class="rv-badge-text">UI/UX</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">San Francisco, California</span>
          </div>
          <div class="rv-badge">
            <span class="rv-badge-text">Full-Time</span>
          </div>
        </div>
        <h3 class="mt-8 mb-6 text-3xl leading-[25.2px] tracking-wide">
          Product Designer
        </h3>
        <p class="max-w-[830px]">
          Designs and develops visually appealing, user-friendly products by
          applying design principles and leveraging technical skills.
        </p>
      </div>
      <!-- Apply Button -->
      <div class="max-md:w-full">
        <a
          href="career-details.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top text-center">
            <span>Apply Now</span>
          </div>
          <div class="rv-button-bottom text-center">
            <span>Apply Now </span>
          </div>
        </a>
      </div>
    </article>
  </div>
</section>
