<!--=====================================
   Company Logos Marquee Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div>
    <!-- Section Header -->
    <p class="container text-center mb-10 lg:mb-20 reveal-me">
      Trusted by over 100+ fast-growing companies all around the world
    </p>

    <!-- Marquee Container -->
    <div class="relative overflow-hidden">
      <!-- Infinite Scroll Container -->
      <div
        class="z-50 flex gap-px w-fit flex-nowrap whitespace-nowrap will-change-transform marquee-inner reveal-me"
      >
        <!-- Marquee Items -->
        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <!-- Light/Dark Mode Logo Variants -->
          <img
            src="images/marquee-img/invert.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/invert.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/invert-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>

        <div
          class="bg-white dark:bg-dark border-r border-y border-secondary/10 dark:border-backgroundBody/10 w-48 h-24 flex items-center justify-center z-50 flex-shrink-0 marquee-part"
        >
          <img
            src="images/marquee-img/greenish.svg"
            alt="Company Logo"
            class="inline-block dark:hidden"
          />
          <img
            src="images/marquee-img/greenish-dark.svg"
            alt="Company Logo"
            class="dark:inline-block hidden"
          />
        </div>
      </div>
    </div>
  </div>
</section>
