<!--=====================================
   Next Project Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative"
>
  <div
    class="absolute left-1/2 scale-y-75 scale-x-[1.8] top-1/2 -translate-y-1/2 -translate-x-1/2"
  >
    <img src="images/gradient-bg.png" alt="" />
  </div>
  <div class="container">
    <!-- Section Heading -->
    <h2
      class="text-[46px] sm:text-5xl md:text-[52px] max-md:text-left max-lg:leading-[1.33] lg:text-7xl font-normal !leading-[1.3] lg:tracking-[-2.88px] mb-9 xl:mb-[50px] text-appear"
    >
      Next project
    </h2>

    <!-- Project Preview Container -->
    <a href="project.html">
      <div
        class="flex flex-col md:flex-row items-center gap-10 reveal-me underline-hover-effect group"
      >
        <!-- Project Image -->

        <figure
          class="md:max-w-[372px] max-md:w-full md:h-[328px] overflow-hidden"
        >
          <img
            src="images/services/services-2.png"
            alt=""
            class="w-full h-full object-cover transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
          />
        </figure>

        <!-- Project Details -->
        <div class="self-start md:self-center">
          <!-- Project Label -->
          <p
            class="uppercase text-xs text-secondary dark:text-backgroundBody font-poppins font-normal leading-6 tracking-[8px]"
          >
            Project
          </p>

          <!-- Project Title Link -->

          <div class="blog-title mb-1">
            <h3
              class="text-4xl md:text-[56px] md:leading-[1.2] md:tracking-[-1.68px] mt-6 mb-4"
            >
              Fashion Forward
            </h3>
          </div>

          <!-- Project Year -->
          <p
            class="text-2xl text-[#000000b3] dark:text-dark-100 leading-[1.4] tracking-[0.48px]"
          >
            /2024
          </p>
        </div>
      </div>
    </a>
  </div>
</section>
