<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <div class="text-center mb-10 md:mb-20">
      <div class="rv-badge mb-3.5 md:mb-8 reveal-me">
        <span class="rv-badge-text">Our work</span>
      </div>
      <h2 class="text-appear">
        We craft emotionally <br />
        engaging stories.
      </h2>
    </div>
  </div>
  <!-- Clients Logo Marquee -->
  <div class="marquee-container reveal-me">
    <div class="flex items-center justify-around gap-[30px]">
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px] ml-[30px]">
        <img src="images/marquee-img/our-work-01.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-02.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-03.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-04.png" alt="client Logo" />
      </div>
    </div>
  </div>

  <!-- Reverse -->
  <div class="marquee-reverse-container reveal-me">
    <div class="flex items-center justify-around gap-[30px] pt-[30px]">
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px] ml-[30px]">
        <img src="images/marquee-img/our-work-05.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-06.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-07.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-08.png" alt="client Logo" />
      </div>
      <div class="min-w-60 md:min-w-[370px] h-72 md:h-[470px]">
        <img src="images/marquee-img/our-work-09.png" alt="client Logo" />
      </div>
    </div>
  </div>
</section>
