<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="container">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-xs:px-5">
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 group-hover:scale-125"
              src="images/services/services-1.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Project Nexus</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-2.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Code.ai</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-3.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Black Code.ai</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-4.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Graphic.ai</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-5.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Booklet mockup</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-6.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Packaging</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-7.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Business Card</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
      <div class="relative group cursor-pointer reveal-me">
        <a href="/project-details.html" class="w-full">
          <figure class="overflow-hidden">
            <img
              class="w-full h-full block transition-all duration-500 hover:scale-125"
              src="images/services/services-8.png"
              alt="Services Image"
            />
          </figure>
          <div
            class="bg-secondary/50 backdrop-blur w-[calc(100%-20px)] py-2.5 pl-5 sm:pl-10 mx-2.5 absolute bottom-4 pr-2.5 flex items-center justify-between group-hover:scale-[1.01] transition-all duration-500"
          >
            <h3 class="text-white text-2xl lg:text-[32px]">Clay.ai</h3>
            <figure
              class="bg-primary p-7 lg:p-8 cursor-pointer relative overflow-hidden"
            >
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
              />
              <img
                src="images/icons/arrow-Icon.svg"
                alt="Arrow Icon"
                class="absolute translate-y-8 -translate-x-12 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:-translate-x-2.5 group-hover:-translate-y-2"
              />
            </figure>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
