<!--=====================================
   Page Header v3
======================================-->
<section class="pt-36 lg:pt-[240px] pb-10 lg:pb-20 relative overflow-hidden">
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-full md:w-[40%] h-full md:h-[40%] max-md:top-1/2 max-lg:-translate-y-1/2 lg:top-0 -z-10 blur-[60px] scale-90"
  >
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute lg:left-[78%] xl:left-full max-md:top-20 md:top-[45%] lg:-translate-x-[78%]"
    />
  </div>

  <!-- Content Container -->
  <div class="container">
    <!-- Header Content Flex Container -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between mb-20"
    >
      <!-- Title Section -->
      <div class="max-sm:self-start">
        <h1
          class="text-appear text-[46px] max-lg:leading-[1.33] lg:text-7xl xl:text-[80px] font-normal leading-[1.1]"
        >
          <span class="font-instrument lg:text-[100px] italic"> Insights </span>
          <br class="hidden md:block" />
          we share
        </h1>
      </div>

      <!-- Description Section -->
      <div class="md:max-w-[470px] self-center md:self-end">
        <p class="text-appear">
          We champion athletes, storytellers, and brands that shape culture and
          inspire the world with their unique perspectives.
        </p>
      </div>
    </div>
  </div>
</section>
