<!--=====================================
   Privacy Policy Header Section
======================================-->
<section
  class="pt-32 md:pt-36 lg:pt-[180px] pb-12 lg:pb-16 2xl:pb-[135px] relative overflow-hidden"
>
  <!-- Gradient Background Wrapper -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-[44%] lg:w-[40%] h-[44%] lg:h-[40%] top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 blur-[60px] md:scale-[0.7]"
  >
    <!-- Gradient Background Image: Positioned centrally with responsive sizing -->
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Header Content Container -->
  <div class="container text-center reveal-me">
    <!-- Badge Component -->
    <div class="rv-badge mb-4 md:mb-8">
      <span class="rv-badge-text">Policy</span>
    </div>

    <!-- Main Title -->
    <h1 class="dark:text-white">Privacy & Policy</h1>
  </div>
</section>
