<!--=====================================
   Case Studies Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start md:items-end mb-10 md:mb-20"
    >
      <!-- Title -->
      <h2 class="text-appear flex-1">
        <span class="font-instrument lg:text-[70px] italic">Recent</span>
        <br class="hidden md:block" />
        Case Studies
      </h2>

      <!-- Description -->
      <div class="md:self-end flex-1">
        <p class="text-appear max-w-lg">
          When sharing recent case studies, focus on key aspects that highlight
          your agency's work and impact. Here's a simple structure to follow.
        </p>
      </div>
    </div>

    <!-- Case Studies Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-9">
      <!-- Case Study 1 - Staticmania -->
      <div class="reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/home-3/services-1.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">Staticmania</h3>
          </div>
        </a>
      </div>

      <!-- Case Study 2 - Creative Studio -->
      <div class="md:mt-20 reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/home-3/services-2.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">creative studio</h3>
          </div>
          <h3 class="mt-[30px] capitalize text-center"></h3>
        </a>
      </div>

      <!-- Case Study 3 - HealthTech -->
      <div class="reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/home-3/services-3.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">HealthTech</h3>
          </div>
        </a>
      </div>

      <!-- Case Study 4 - BeautyForge -->
      <div class="md:mt-20 reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/home-3/services-4.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] mb-2 text-center">
            <h3 class="capitalize text-center">BeautyForge</h3>
          </div>
        </a>
      </div>
    </div>

    <!-- Call-to-Action Button -->
    <ul class="flex justify-center mt-[60px] reveal-me">
      <li class="block md:inline-block w-[90%] mx-auto md:w-auto">
        <a
          href="/project.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top !text-center">
            <span>See all projects</span>
          </div>
          <div class="rv-button-bottom !text-center">
            <span>See all projects</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
