<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div class="text-center mb-8 md:mb-20">
      <div class="rv-badge mb-5 md:mb-8 reveal-me">
        <span class="rv-badge-text">Our Process</span>
      </div>
      <h2 class="text-appear">Our Creative Journey</h2>
    </div>
    <!-- Process Section  -->

    <div class="flex flex-col md:flex-row gap-20 reveal-me">
      <figure class="sticky top-7">
        <img src="images/process-img-01.png" alt="Process Images " />
      </figure>

      <div>
        <ul
          class="relative space-y-10 lg:space-y-28 xl:space-y-[170px] md:border-l border-secondary dark:border-dark"
        >
          <li class="max-w-max px-10">
            <div
              class="absolute left-0 md:-left-11 lg:-left-[52px] bg-black text-white text-lg font-bold rounded-full px-3.5 lg:px-6 py-5 lg:py-8 flex items-center justify-center md:border-[18px] border-white dark:border-[#151515]"
            >
              <span
                class="text-black dark:text-[#FFF] text-xl bg-gradient-to-r from-white to-gray-400 dark:bg-gradient-to-r dark:from-white dark:to-[#BDBDBD] text-transparent dark:text-transparent bg-clip-text dark:bg-clip-text font-semibold inline-block"
              >
                01
              </span>
            </div>
            <div class="ml-[30px]">
              <h3 class="">Book a Call</h3>
              <p class="max-w-[483px] mt-1 sm:mt-3 md:mt-5">
                Choose a date and time to book a discovery session, during which
                we’ll define the project objectives, timeline, and budget.
              </p>
            </div>
          </li>
          <li class="max-w-max px-10">
            <div
              class="absolute left-0 md:-left-11 lg:-left-[54px] bg-black text-white text-lg font-bold rounded-full px-3.5 lg:px-6 py-5 lg:py-8 flex items-center justify-center md:border-[18px] border-white dark:border-[#151515]"
            >
              <span
                class="text-black dark:text-[#FFF] text-xl bg-gradient-to-r from-white to-gray-400 dark:bg-gradient-to-r dark:from-white dark:to-[#BDBDBD] text-transparent dark:text-transparent bg-clip-text dark:bg-clip-text font-semibold inline-block"
              >
                02
              </span>
            </div>
            <div class="ml-[30px]">
              <h3 class="">Receive an Offer</h3>
              <p class="max-w-[483px] mt-1 sm:mt-3 md:mt-5">
                We’ll send you a bespoke project proposal including
                deliverables, project roadmap, and a quote in 1-2 business days.
              </p>
            </div>
          </li>
          <li class="max-w-max px-10">
            <div
              class="absolute left-0 md:-left-11 lg:-left-[54px] bg-black text-white text-lg font-bold rounded-full px-3.5 lg:px-6 py-5 lg:py-8 flex items-center justify-center md:border-[18px] border-white dark:border-[#151515]"
            >
              <span
                class="text-black dark:text-[#FFF] text-xl bg-gradient-to-r from-white to-gray-400 dark:bg-gradient-to-r dark:from-white dark:to-[#BDBDBD] text-transparent dark:text-transparent bg-clip-text dark:bg-clip-text font-semibold inline-block"
              >
                03
              </span>
            </div>
            <div class="ml-[30px]">
              <h3 class="">Kickoff the Project</h3>
              <p class="max-w-[483px] mt-1 sm:mt-3 md:mt-5">
                Sign the contract, send the deposit, lean back, and let us do
                our thing. We’ll invite you to a design review meeting in 5-7
                business days.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
