<!--=====================================
   Workflow Process Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- Section Title -->
    <h3
      class="max-md:text-3xl md:text-6xl lg:text[56px] lg:leading-[1.2] lg:tracking-[-1.68px] text-center mb-14 md:mb-20 text-appear"
    >
      How do we do it?
    </h3>

    <!-- Process Timeline Container -->
    <!-- Parent with horizontal connecting lines -->
    <div
      class="relative after:content-[''] after:absolute max-md:after:top-16 md:after:top-[105px] after:bg-[#e5e5e5] dark:after:bg-white/10 after:block after:w-full after:h-[1px] after:-z-10 max-lg:before:content-[''] max-lg:before:absolute max-md:bottom-5 max-md:before:bottom-[137px] max-lg:before:bottom-[155px] max-lg:before:bg-[#e5e5e5] dark:max-lg:before:bg-white/10 max-lg:before:block max-lg:before:w-full max-lg:before:h-[1px] max-lg:before:-z-10 reveal-me"
    >
      <!-- Process Steps Grid -->
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-[30px] justify-between items-center"
      >
        <!-- Step 1 - Request -->
        <div class="text-center reveal-me">
          <!-- Step Number with Dot -->
          <span
            class="max-md:text-3xl md:text-[64px] md:leading-[1.2] md:tracking-[-1.92px] relative after:content-[''] after:absolute after:w-5 after:h-5 after:rounded-full after:bg-primary after:left-[50%] after:-translate-x-[50%] after:-bottom-[37px] after:z-50"
          >
            01
          </span>
          <h3
            class="max-md:text-3xl md:text-[56PX] md:leading-[1.2] md:tracking-[-1.68px] mt-16 mb-5"
          >
            Request
          </h3>
          <p class="text-base leading-[1.4] tracking-[0.32px]">
            We mostly work on a fixed-bid basis for our projects, focusing on a
            select few clients at a time.
          </p>
        </div>

        <!-- Step 2 - Approve -->
        <div class="text-center reveal-me">
          <!-- Step Number with Dot -->
          <span
            class="max-md:text-3xl md:text-[64px] md:leading-[1.2] md:tracking-[-1.92px] relative after:content-[''] after:absolute after:w-5 after:h-5 after:rounded-full after:bg-primary after:left-[50%] after:-translate-x-[50%] after:-bottom-[37px] after:z-10"
          >
            02
          </span>
          <h3
            class="max-md:text-3xl md:text-[56PX] md:leading-[1.2] md:tracking-[-1.68px] mt-16 mb-5"
          >
            Approve
          </h3>
          <p class="text-base leading-[1.4] tracking-[0.32px]">
            We mostly work on a fixed-bid basis for our projects, focusing on a
            select few clients at a time.
          </p>
        </div>

        <!-- Step 3 - Develop -->
        <div class="text-center reveal-me">
          <!-- Step Number with Dot -->
          <span
            class="max-md:text-3xl md:text-[64px] md:leading-[1.2] md:tracking-[-1.92px] relative after:content-[''] after:absolute after:w-5 after:h-5 after:rounded-full after:bg-primary after:left-[50%] after:-translate-x-[50%] after:-bottom-[37px] after:z-10"
          >
            03
          </span>
          <h3
            class="max-md:text-3xl md:text-[56PX] md:leading-[1.2] md:tracking-[-1.68px] mt-16 mb-5"
          >
            Develop
          </h3>
          <p class="text-base leading-[1.4] tracking-[0.32px]">
            We mostly work on a fixed-bid basis for our projects, focusing on a
            select few clients at a time.
          </p>
        </div>

        <!-- Step 4 - Deliver -->
        <div class="text-center reveal-me">
          <!-- Step Number with Dot -->
          <span
            class="max-md:text-3xl md:text-[64px] md:leading-[1.2] md:tracking-[-1.92px] relative after:content-[''] after:absolute after:w-5 after:h-5 after:rounded-full after:bg-primary after:left-[50%] after:-translate-x-[50%] after:-bottom-[37px] after:z-10"
          >
            04
          </span>
          <h3
            class="max-md:text-3xl md:text-[56PX] md:leading-[1.2] md:tracking-[-1.68px] mt-16 mb-5"
          >
            Deliver
          </h3>
          <p class="text-base leading-[1.4] tracking-[0.32px]">
            We mostly work on a fixed-bid basis for our projects, focusing on a
            select few clients at a time.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
