<!--=====================================
   Services Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div
    class="absolute max-lg:scale-y-[2.8] -z-30 scale-x-[2.2] left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2"
  >
    <img src="images/gradient-bg.png" alt="gradient-bg" />
  </div>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-4 justify-center lg:justify-between items-start mb-16 lg:mb-24"
    >
      <!-- Title Area -->
      <div class="flex-1 md:self-start">
        <h2 class="text-appear">
          <span class="font-instrument italic font-medium"> Services — </span>
          <br class="hidden md:block" />
          We build
        </h2>
      </div>

      <!-- Description -->
      <div class="flex-1 md:self-end">
        <p class="text-appear dark:text-colorText max-w-lg">
          We partner with athletes, storytellers, and brands whose vision and
          voices shape culture and transform the world.
        </p>
      </div>
    </div>

    <!-- Services Grid -->
    <div
      class="grid grid-cols-12 justify-center items-center gap-[1px] reveal-me"
    >
      <!-- Discovery Service Card -->
      <div
        class="col-span-full max-sm:border-x max-sm:border-t max-sm:border-dark/5 sm:col-span-6 lg:col-span-4 xl:col-span-3 px-7 md:px-10 pt-7 md:pt-10 pb-4 md:pb-16 bg-white/80 backdrop-blur dark:bg-dark hover:bg-primary dark:hover:bg-primary group transition-all duration-300 ease-in-out min-h-[230px] sm:min-h-[400px]"
      >
        <h4
          class="md:text-[37px] dark:group-hover:text-secondary transition-colors duration-300 leading-[1.2] pb-3 md:mb-4"
        >
          Discovery
        </h4>
        <p
          class="text-[17px] leading-[25.5px] text-[#000000b3] dark:text-dark-100 dark:group-hover:text-dark-200 transition-colors duration-300 font-medium italic"
        >
          We start every new client interaction with an in-depth discovery call
          where we get to know each other, discuss your current and future
          objectives, and recommend the best course of action.
        </p>
      </div>

      <!-- Strategy Service Card -->
      <div
        class="col-span-full max-sm:border-x max-sm:border-t max-sm:border-dark/5 sm:col-span-6 lg:col-span-4 xl:col-span-3 px-7 md:px-10 pt-7 md:pt-10 pb-4 md:pb-16 bg-white/80 dark:bg-dark hover:bg-primary dark:hover:bg-primary group transition-all duration-300 ease-in-out min-h-[230px] sm:min-h-[400px]"
      >
        <h4
          class="md:text-[37px] dark:group-hover:text-secondary transition-colors duration-300 leading-[1.2] pb-3 md:mb-4"
        >
          Strategy
        </h4>
        <p
          class="text-[17px] leading-[25.5px] text-[#000000b3] dark:text-dark-100 dark:group-hover:text-dark-200 transition-colors duration-300 font-medium italic"
        >
          Every end-to-end project of ours begins with a bespoke pre-build
          strategy. From brand ID consultation to in-depth code reviews we're
          here to set the stage for success.
        </p>
      </div>

      <!-- Build Service Card -->
      <div
        class="col-span-full max-sm:border-x max-sm:border-t max-sm:border-dark/5 sm:col-span-6 lg:col-span-4 xl:col-span-3 px-7 md:px-10 pt-7 md:pt-10 pb-4 md:pb-16 bg-white/80 dark:bg-dark hover:bg-primary dark:hover:bg-primary group transition-all duration-300 ease-in-out min-h-[230px] sm:min-h-[400px]"
      >
        <h4
          class="md:text-[37px] dark:group-hover:text-secondary transition-colors duration-300 leading-[1.2] pb-3 md:mb-4"
        >
          Build
        </h4>
        <p
          class="text-[17px] leading-[25.5px] text-[#000000b3] dark:text-dark-100 dark:group-hover:text-dark-200 transition-colors duration-300 font-medium italic"
        >
          Whether we've just finished designing your new site or you're handing
          off finished designs for us to develop in Webflow, we're here to apply
          our trusted development process to your project.
        </p>
      </div>

      <!-- Design Service Card -->
      <div
        class="col-span-full max-sm:border-x max-sm:border-t max-sm:border-b max-sm:border-dark/5 sm:col-span-6 lg:col-span-4 xl:col-span-3 px-10 pt-10 pb-16 bg-white/80 dark:bg-dark hover:bg-primary dark:hover:bg-primary group transition-all duration-300 ease-in-out min-h-[230px] sm:min-h-[400px]"
      >
        <h4
          class="md:text-[37px] dark:group-hover:text-secondary transition-colors duration-300 leading-[1.2] pb-3 md:mb-4"
        >
          Design
        </h4>
        <p
          class="text-[17px] leading-[25.5px] text-[#000000b3] dark:text-dark-100 dark:group-hover:text-dark-200 transition-colors duration-300 font-medium italic"
        >
          What kind of design are you interested in? It could be anything from
          graphic design to interior design or even designing a new product. Let
          me know what you have in mind!
        </p>
      </div>
    </div>

    <!-- CTA Button -->
    <ul class="flex justify-center mt-[60px]">
      <li class="block md:inline-block w-[90%] mx-auto md:w-auto">
        <a
          href="/project.html"
          class="rv-button rv-button-secondary block md:inline-block"
        >
          <div class="rv-button-top !text-center">
            <span>See all projects</span>
          </div>
          <div class="rv-button-bottom !text-center">
            <span>See all projects</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
