<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row justify-center md:justify-between items-center mb-10 md:mb-20"
    >
      <h2 class="text-appear flex-1">
        Selected <i class="font-instrument">Projects</i>
      </h2>
      <p class="md:self-end text-appear flex-1 max-w-md">
        Our user-centered design encourages productivity and boosts revenue.
      </p>
    </div>
    <div class="[&>*:not(:last-child)]:mb-[30px]">
      <!-- Project Card 01 -->
      <article class="group relative reveal-me underline-hover-effect">
        <a href="project-details-02.html" class="block overflow-hidden">
          <img
            src="images/portfolio/project-img-01.png"
            alt="Project img"
            class="group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
          />
        </a>

        <div
          class="bg-backgroundBody p-2 sm:p-3 md:p-[30px] max-w-96 md:max-w-[535px] absolute bottom-4 md:bottom-10 left-4 md:left-10 max-md:top-2 max-md:right-4"
        >
          <div class="project-title mb-2 md:mb-5">
            <a href="project-details-02.html">
              <h3
                class="text-[24px] lg:text-5xl lg:leading-[1.2] font-normal text-secondary dark:text-secondary"
              >
                Epicurean Elegance
              </h3>
            </a>
          </div>
          <p class="text-secondary dark:text-secondary max-md:text-xs">
            Apple Inc. is an American multinational corporation and technology
            company headquartered in Cupertino, California, in Silicon Valley.
            It is best known for its consumer electronics, software, and
            services.
          </p>
        </div>

        <figure
          class="bg-primary w-[55px] h-[55px] cursor-pointer overflow-hidden max-md:hidden md:block absolute top-10 right-10"
        >
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
          />
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:translate-x-[19px] group-hover:translate-y-5"
          />
        </figure>
      </article>

      <!-- Project Card 02 -->
      <article class="group relative reveal-me underline-hover-effect">
        <a href="project-details.html" class="block overflow-hidden">
          <img
            src="images/portfolio/project-img-02.png"
            class="group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
            alt="Project img"
          />
        </a>

        <div
          class="bg-backgroundBody p-2 sm:p-3 md:p-[30px] max-w-96 md:max-w-[535px] absolute bottom-4 md:bottom-10 left-4 md:left-10 max-md:top-2 max-md:right-4"
        >
          <div class="project-title mb-2 md:mb-5">
            <a href="project-details.html">
              <h3
                class="text-[24px] text-secondary dark:text-secondary lg:text-5xl lg:leading-[1.2] font-normal"
              >
                Artistry in Motion
              </h3>
            </a>
          </div>
          <p class="text-secondary max-md:text-xs dark:text-secondary">
            Apple Inc. is an American multinational corporation and technology
            company headquartered in Cupertino, California, in Silicon Valley.
            It is best known for its consumer electronics, software, and
            services.
          </p>
        </div>

        <figure
          class="bg-primary w-[55px] h-[55px] cursor-pointer overflow-hidden max-md:hidden md:block absolute top-10 right-10"
        >
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
          />
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:translate-x-[19px] group-hover:translate-y-5"
          />
        </figure>
      </article>

      <!-- Project Card 03 -->
      <article class="group relative reveal-me underline-hover-effect">
        <a href="project-details-02.html" class="block overflow-hidden">
          <img
            src="images/portfolio/project-img-03.png"
            class="group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
            alt="Project img"
          />
        </a>

        <div
          class="bg-backgroundBody p-2 sm:p-3 md:p-[30px] max-w-96 md:max-w-[535px] absolute bottom-4 md:bottom-10 left-4 md:left-10 max-md:top-2 max-md:right-4"
        >
          <div class="project-title mb-2 md:mb-5">
            <a href="project-details-02.html">
              <h3
                class="text-[24px] text-secondary dark:text-secondary lg:text-5xl lg:leading-[1.2] font-normal"
              >
                Digital Canvas
              </h3>
            </a>
          </div>
          <p class="text-secondary max-md:text-xs dark:text-secondary">
            Apple Inc. is an American multinational corporation and technology
            company headquartered in Cupertino, California, in Silicon Valley.
            It is best known for its consumer electronics, software, and
            services.
          </p>
        </div>

        <figure
          class="bg-primary w-[55px] h-[55px] cursor-pointer overflow-hidden max-md:hidden md:block absolute top-10 right-10"
        >
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
          />
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:translate-x-[19px] group-hover:translate-y-5"
          />
        </figure>
      </article>

      <!-- Project Card 04 -->
      <article class="group relative reveal-me underline-hover-effect">
        <a href="project-details.html" class="block overflow-hidden">
          <img
            src="images/portfolio/project-img-04.png"
            class="group-hover:scale-125 group-hover:rotate-3 transition-all duration-500"
            alt="Project img"
          />
        </a>

        <div
          class="bg-backgroundBody p-2 sm:p-3 md:p-[30px] max-w-96 md:max-w-[535px] absolute bottom-4 md:bottom-10 left-4 md:left-10 max-md:top-2 max-md:right-4"
        >
          <div class="project-title mb-2 md:mb-5">
            <a href="project-details.html">
              <h3
                class="text-[24px] text-secondary dark:text-secondary lg:text-5xl lg:leading-[1.2] font-normal"
              >
                Fashion Forward
              </h3>
            </a>
          </div>
          <p class="text-secondary max-md:text-xs dark:text-secondary">
            Apple Inc. is an American multinational corporation and technology
            company headquartered in Cupertino, California, in Silicon Valley.
            It is best known for its consumer electronics, software, and
            services.
          </p>
        </div>

        <figure
          class="bg-primary w-[55px] h-[55px] cursor-pointer overflow-hidden max-md:hidden md:block absolute top-10 right-10"
        >
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute left-1/2 -translate-x-1/2 top-1/2 -translate-y-1/2 group-hover:-translate-y-12 group-hover:translate-x-8 transition-all duration-500 opacity-100 group-hover:opacity-0"
          />
          <img
            src="images/icons/arrow-Icon.svg"
            alt="Arrow Icon"
            class="absolute translate-y-12 -translate-x-4 transition-all duration-500 opacity-0 group-hover:opacity-100 group-hover:translate-x-[19px] group-hover:translate-y-5"
          />
        </figure>
      </article>
    </div>
  </div>
</section>
