<!--=====================================
   Case Studies Grid Section
======================================-->
<section
  class="pt-28 sm:pt-36 md:pt-[157px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-3 sm:gap-y-7 justify-center lg:justify-between items-center md:items-end mb-20 md:mb-28 xl:mb-32"
    >
      <div class="">
        <h2
          class="text-appear text-[46px] max-lg:leading-[1.33] lg:text-7xl xl:text-[96px] font-normal leading-[1.1] lg:tracking-[-2.88px]"
        >
          <span class="font-instrument italic">Proud</span>
          <br class="hidden md:block" />
          Case Studies
        </h2>
      </div>
      <div class="md:self-end">
        <p class="text-appear">
          When presenting recent case studies, it's important <br />
          to highlight key aspects that showcase your <br />
          agency's work and impact. Here's a general <br />
          structure you might follow.
        </p>
      </div>
    </div>

    <!-- Case Studies Grid -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-6 gap-y-14">
      <div class="reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-1.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">Staticmania</h3>
          </div>
        </a>
      </div>
      <div class="md:mt-12 lg:mt-20 reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-7.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center mb-1">
            <h3 class="capitalize text-center">creative studio</h3>
          </div>
        </a>
      </div>
      <div class="reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-3.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">HealthTech</h3>
          </div>
        </a>
      </div>

      <div class="md:mt-12 lg:mt-20 reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-7.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center mb-1">
            <h3 class="capitalize text-center">BeautyForge</h3>
          </div>
        </a>
      </div>
      <div class="reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-5.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">Tech Canvas</h3>
          </div>
        </a>
      </div>

      <div class="md:mt-12 lg:mt-20 reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-6.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center mb-1">
            <h3 class="capitalize text-center">Next-Gen Style</h3>
          </div>
        </a>
      </div>
      <div class="reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-7.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center">
            <h3 class="capitalize text-center">Trendsetting Style</h3>
          </div>
        </a>
      </div>

      <div class="md:mt-12 lg:mt-20 reveal-me underline-hover-effect group">
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/project-3/services-8.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Services Img"
            />
          </figure>
          <div class="blog-title mt-[30px] text-center mb-1">
            <h3 class="capitalize text-center">Digital Palette</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
