<!--=====================================
   Documentation Section
======================================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="max-w-[1440px] mx-auto px-7 md:px-20">
    <div class="flex flex-col gap-x-8 gap-y-12 lg:flex-row">
      <!-- Sticky Table of Contents Sidebar -->
      <aside class="min-w-[275px] lg:mx-auto flex-1">
        <div class="sticky top-40">
          <div class="reveal-me">
            <h3 class="max-md:text-[40px] md:text-[32px]">Table of contents</h3>
            <ul
              class="mt-7 md:mt-10 [&>*:not(:last-child)]:mb-3 md:[&>*:not(:last-child)]:mb-5"
            >
              <li>
                <a
                  href="#project-overview"
                  class="text-xl normal-case font-normal leading-7 tracking-normal text-[#000000b3] dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                >
                  Learn about the project - project overview
                </a>
              </li>
              <li>
                <a
                  href="#designing"
                  class="text-xl normal-case font-normal leading-7 tracking-normal text-[#000000b3] dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                >
                  Designing the User Experience
                </a>
              </li>
              <li>
                <a
                  href="#architecture"
                  class="text-xl normal-case font-normal leading-7 tracking-normal text-[#000000b3] dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                >
                  Building the information architecture
                </a>
              </li>
            </ul>
          </div>
        </div>
      </aside>

      <!-- Main Content Area -->
      <article class="project-details-body">
        <figure class="reveal-me">
          <img
            src="images/services/services-details-img.png"
            alt="Services Big Img"
          />
        </figure>
        <div class="reveal-me">
          <h3 id="project-overview">
            Learn about the project - project overview
          </h3>
          <p>
            Introducing our latest creation: the 'Best Sellers No-Code Website'!
            Seamlessly blending creativity and functionality, this innovative
            platform empowers businesses to showcase their top products with
            style and efficiency. Say goodbye to coding hassles and hello to a
            user-friendly interface. <br />
            <br />
            Introducing our latest creation: the 'Best Sellers No-Code Website'!
            Seamlessly blending creativity and functionality, this innovative
            platform empowers businesses to showcase their top products with
            style and efficiency. Say goodbye to coding hassles and hello to
          </p>
        </div>
        <div class="reveal-me">
          <h3 id="designing">Designing the User Experience</h3>
          <p>
            Introducing our latest creation: the 'Best Sellers No-Code Website'!
            Seamlessly blending creativity and functionality, this innovative
            platform empowers businesses to showcase their top products with
            style and efficiency. Say goodbye to coding hassles and hello to a
            user-friendly interface. <br />
            <br />
            Introducing our latest creation: the 'Best Sellers No-Code Website'!
            Seamlessly blending creativity and functionality, this innovative
            platform empowers businesses to showcase their top products with
            style and efficiency. Say goodbye to coding hassles and hello to
          </p>

          <img
            src="images/project-details/project-details-button.png"
            alt="Project details Button Img"
          />

          <p>
            Designing the User Experience (UX) is a meticulous process that
            involves understanding user needs, preferences, and behaviors to
            create intuitive and seamless interactions. Through thoughtful
            research and analysis, we strive to craft interfaces <br />
            <br />
            that not only meet user expectations but exceed them. In this
            section, we delve into our approach to UX design, exploring
            methodologies, techniques, and best practices employed to create
            engaging and user-centric experiences
          </p>
        </div>
        <div class="reveal-me">
          <h3 id="architecture">Building the information architecture</h3>
          <p>
            Information architecture (IA) is the structural design of digital
            information environments, such as websites and applications, to
            facilitate intuitive navigation and efficient access to content. It
            involves organizing and categorizing information in a logical and
            hierarchical manner, ensuring that users can easily find what
            they're looking for. Information architecture considers factors such
            as user goals, business objectives, and content relationships to
            create a cohesive and user-friendly <br />
            <br />
            structure. Through techniques like card sorting and site mapping, IA
            aims to create a clear and intuitive navigation system that guides
            users through the interface seamlessly. Effective information
            architecture lays the foundation for a positive user experience,
            helping users navigate complex information landscapes with ease and
            confidence.
          </p>

          <img
            id="final-design"
            src="images/services/business-big.png"
            alt="Business Card"
          />

          <p>
            Through techniques like card sorting and site mapping, IA aims to
            create a clear and intuitive navigation system that guides users
            through the interface seamlessly. Effective information architecture
            lays the foundation for a positive user experience, helping users
            navigate complex information landscapes with ease and confidence.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
