<!--=====================================
   Centered Hero Section
======================================-->
<section
  class="pt-[130px] md:pt-36 lg:pt-44 xl:pt-[180px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container reveal-me">
    <!-- Decorative Header -->
    <p
      class="flex justify-center items-center gap-2 md:gap-5 font-poppins text-sm font-normal leading-6 tracking-[3px] uppercase"
    >
      <!-- Left Text -->
      <span class="max-sm:whitespace-nowrap">Design Agency</span>

      <!-- Decorative Line -->
      <span
        class="inline-block w-[150px] h-[1px] bg-dark dark:bg-[#ffffffb3]"
      ></span>

      <!-- Right Text -->
      <span>Palermo</span>
    </p>

    <!-- Main Heading -->
    <h1 class="mt-5 sm:mt-6 md:mt-9 xl:text-nowrap text-center">
      Crafting Tomorrow's
      <span class="font-instrument italic">Solutions</span>,
      <br class="hidden md:block" />
      Today
    </h1>

    <!-- Description Text -->
    <p class="mt-3 md:mt-7 text-center">
      With years of industry expertise, our team of visionaries, storytellers,
      and design <br />
      virtuosos come together here for you to see.
    </p>
  </div>
</section>
