<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative"
>
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-3 gap-x-10 justify-center lg:justify-start items-start md:items-center mb-10 md:mb-20"
    >
      <div class="flex-1">
        <h2 class="text-appear">
          <span class="italic font-instrument">Our latest</span>
          <br class="hidden md:block" />
          projects
        </h2>
      </div>
      <div class="flex-1 max-w-md">
        <p class="text-appear max-md:text-justify dark:text-colorText">
          Each project reflects our dedication to excellence, creativity, and
          innovation.
        </p>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center md:items-start gap-[30px] gap-y-10 mb-[60px]"
    >
      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-13.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5 flex justify-between items-center">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            may 10, 2020
          </p>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2020
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              TheMotto
            </h3>
          </div>
        </a>
      </div>
      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-14.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5 flex justify-between items-center">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            June 25, 2021
          </p>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2021
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Lovelace Studio
            </h3>
          </div>
        </a>
      </div>
      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-15.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5 flex justify-between items-center">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            June 25, 2022
          </p>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2022
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Miami Adventure
            </h3>
          </div>
        </a>
      </div>
      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-16.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2.5 flex justify-between items-center">
          <p
            class="text-[13px] leading-[14.4px] tracking-[0.96px] uppercase font-normal text-secondary dark:text-white"
          >
            June 10, 2023
          </p>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2023
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              FightClub
            </h3>
          </div>
        </a>
      </div>
    </div>
    <ul class="flex justify-center reveal-me">
      <li
        class="block md:inline-block max-md:w-[90%] mx-auto md:ml-auto md:w-auto"
      >
        <a
          href="/project.html"
          class="rv-button rv-button-secondary block md:inline-block text-center"
        >
          <div class="rv-button-top">
            <span>See Project</span>
          </div>
          <div class="rv-button-bottom">
            <span>See Project</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
