<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div class="mb-10 md:mb-20 text-center">
      <h2 class="text-appear">Selected work</h2>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 justify-items-center items-center md:items-start gap-[30px] gap-y-10"
    >
      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-17.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2 lg:mb-3 flex items-center justify-between">
          <div class="rv-badge">
            <span class="rv-badge-text">Wedding</span>
          </div>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2022
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              wedding Harmony
            </h3>
          </div>
        </a>
      </div>

      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-18.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2 lg:mb-3 flex items-center justify-between">
          <div class="rv-badge">
            <span class="rv-badge-text">Urban</span>
          </div>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2023
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Urban Landscape
            </h3>
          </div>
        </a>
      </div>

      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-19.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2 lg:mb-3 flex items-center justify-between">
          <div class="rv-badge">
            <span class="rv-badge-text">Portraits</span>
          </div>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2021
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Inner Beauty
            </h3>
          </div>
        </a>
      </div>

      <div
        class="reveal-me border dark:border-dark px-5 pt-5 pb-7 underline-hover-effect group"
      >
        <a href="project-details.html">
          <figure class="overflow-hidden">
            <img
              src="images/blog-img/blog-img-20.png"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
              alt="Blog Images"
            />
          </figure>
        </a>
        <div class="mt-[26px] mb-2 lg:mb-3 flex items-center justify-between">
          <div class="rv-badge">
            <span class="rv-badge-text">Urban</span>
          </div>
          <p
            class="text-base md:text-[22px] leading-8 tracking-[0.48px] text-secondary dark:text-white"
          >
            2024
          </p>
        </div>
        <a href="project-details.html">
          <div class="blog-title">
            <h3
              class="text-3xl lg:text-[42px] xl:text-[50px] font-normal lg:leading-[1.2] lg:tracking-[-1.68px]"
            >
              Urban Artistry
            </h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
