<!--=====================================
   Services Accordion Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div class="text-center mb-10 md:mb-20">
      <div class="rv-badge mb-3 md:mb-8 reveal-me">
        <span class="rv-badge-text">Services</span>
      </div>
      <h2 class="text-appear">
        Creative solutions for your business <br />
        challenges.
      </h2>
    </div>

    <!-- Services Container -->
    <div
      class="max-w-[1170px] w-full mx-auto [&>*:not(:last-child)]:mb-6 reveal-me"
    >
      <!--  -->
      <a href="services-details.html" class="block">
        <div
          class="bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 transition-all duration-300"
        >
          <div
            class="relative group z-10 cursor-pointer py-5 px-5 md:px-10 flex justify-between"
          >
            <div
              class="absolute inset-0 opacity-0 bg-[url('/images/services/services-background.png')] bg-cover transition-opacity duration-700 in-expo group-hover:opacity-100"
            ></div>

            <h3
              class="relative z-10 flex flex-col md:flex-row items-start md:items-center gap-x-32 gap-y-3 text-[25px] md:text-4xl lg:text-[42px] xl:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
            >
              <span
                class="font-medium transition-colors duration-700 group-hover:text-white"
              >
                Software Solution
              </span>
              <p
                class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg transition-colors duration-700 group-hover:text-white"
              >
                Delivering a stellar experience for every user.
              </p>
            </h3>

            <div
              class="relative overflow-hidden z-10 bg-white dark:bg-dark border dark:border-dark inline-flex size-14 md:size-24 transition-all duration-[800ms] ease-faq-body-transition group-hover:bg-primary group-hover:border-transparent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:translate-x-20 transition-all duration-500 in-expo opacity-100 group-hover:opacity-0"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-20 -translate-y-1/2 group-hover:-translate-x-1/2 transition-all duration-500 opacity-0 group-hover:opacity-100"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </a>
      <!--  -->
      <a href="services-details.html" class="block">
        <div
          class="bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 transition-all duration-300"
        >
          <div
            class="relative group z-10 cursor-pointer py-5 px-5 md:px-10 flex justify-between"
          >
            <div
              class="absolute inset-0 opacity-0 bg-[url('/images/services/services-background-02.png')] bg-cover transition-opacity duration-700 in-expo group-hover:opacity-100"
            ></div>

            <h3
              class="relative z-10 flex flex-col md:flex-row items-start md:items-center gap-x-32 gap-y-3 text-[25px] md:text-4xl lg:text-[42px] xl:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
            >
              <span
                class="font-medium transition-colors duration-700 group-hover:text-white"
              >
                Hardware Solution
              </span>
              <p
                class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg transition-colors duration-700 group-hover:text-white"
              >
                Delivering a stellar experience for every user.
              </p>
            </h3>

            <div
              class="relative overflow-hidden z-10 bg-white dark:bg-dark border dark:border-dark inline-flex size-14 md:size-24 transition-all duration-[800ms] ease-faq-body-transition group-hover:bg-primary group-hover:border-transparent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:translate-x-20 transition-all duration-500 in-expo opacity-100 group-hover:opacity-0"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-20 -translate-y-1/2 group-hover:-translate-x-1/2 transition-all duration-500 opacity-0 group-hover:opacity-100"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </a>
      <!--  -->
      <a href="services-details.html" class="block">
        <div
          class="bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 transition-all duration-300"
        >
          <div
            class="relative group z-10 cursor-pointer py-5 px-5 md:px-10 flex justify-between"
          >
            <div
              class="absolute inset-0 opacity-0 bg-[url('/images/services/services-background-03.png')] bg-cover transition-opacity duration-700 in-expo group-hover:opacity-100"
            ></div>

            <h3
              class="relative z-10 flex flex-col md:flex-row items-start md:items-center gap-x-32 gap-y-3 text-[25px] md:text-4xl lg:text-[42px] xl:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
            >
              <span
                class="font-medium transition-colors duration-700 group-hover:text-white"
              >
                Artificial Intelligence
              </span>
              <p
                class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg transition-colors duration-700 group-hover:text-white"
              >
                Delivering a stellar experience for every user.
              </p>
            </h3>

            <div
              class="relative overflow-hidden z-10 bg-white dark:bg-dark border dark:border-dark inline-flex size-14 md:size-24 transition-all duration-[800ms] ease-faq-body-transition group-hover:bg-primary group-hover:border-transparent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:translate-x-20 transition-all duration-500 in-expo opacity-100 group-hover:opacity-0"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-20 -translate-y-1/2 group-hover:-translate-x-1/2 transition-all duration-500 opacity-0 group-hover:opacity-100"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </a>
      <!--  -->
      <a href="services-details.html" class="block">
        <div
          class="bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 transition-all duration-300"
        >
          <div
            class="relative group z-10 cursor-pointer py-5 px-5 md:px-10 flex justify-between"
          >
            <div
              class="absolute inset-0 opacity-0 bg-[url('/images/services/services-background-04.png')] bg-cover transition-opacity duration-700 in-expo group-hover:opacity-100"
            ></div>

            <h3
              class="relative z-10 flex flex-col md:flex-row items-start md:items-center gap-x-32 gap-y-3 text-[25px] md:text-4xl lg:text-[42px] xl:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
            >
              <span
                class="font-medium transition-colors duration-700 group-hover:text-white"
              >
                Innovative Solutions
              </span>
              <p
                class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg transition-colors duration-700 group-hover:text-white"
              >
                Delivering a stellar experience for every user.
              </p>
            </h3>

            <div
              class="relative overflow-hidden z-10 bg-white dark:bg-dark border dark:border-dark inline-flex size-14 md:size-24 transition-all duration-[800ms] ease-faq-body-transition group-hover:bg-primary group-hover:border-transparent"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 group-hover:translate-x-20 transition-all duration-500 in-expo opacity-100 group-hover:opacity-0"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-20 -translate-y-1/2 group-hover:-translate-x-1/2 transition-all duration-500 opacity-0 group-hover:opacity-100"
              >
                <path
                  d="M5 16H27"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  class="stroke-black dark:stroke-white transition-colors duration-500 group-hover:stroke-white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
