<!--=====================================
   Services Details Section
======================================-->
<section class="pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]">
  <div class="max-w-[1440px] mx-auto px-8 md:px-20">
    <div class="flex flex-col gap-8 lg:flex-row justify-start">
      <!-- Sticky Table of Contents -->
      <aside class="min-w-[275px] flex-1">
        <div class="sticky top-28">
          <div class="reveal-me">
            <h3 class="max-md:text-[40px] md:text-[32px]">Table of contents</h3>
            <ul
              class="mt-4 sm:mt-7 md:mt-10 [&>*:not(:last-child)]:mb-2 md:[&>*:not(:last-child)]:mb-5"
            >
              <li>
                <a
                  href="#service-overview"
                  class="text-xl normal-case font-normal leading-7 tracking-normal dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                >
                  Service overview
                </a>
              </li>
              <li>
                <a
                  href="#our-service-includes"
                  class="text-xl normal-case font-normal leading-7 tracking-normal dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                >
                  Our service includes
                </a>
              </li>
              <li>
                <a
                  href="#why-choose"
                  class="text-xl normal-case font-normal leading-7 tracking-normal dark:text-dark-100 hover:font-medium hover:text-secondary dark:hover:text-backgroundBody transition-all lenis-scroll-to"
                >
                  Why Choose Us
                </a>
              </li>
            </ul>
          </div>
        </div>
      </aside>

      <!-- Main Content -->
      <article class="project-details-body">
        <figure class="reveal-me">
          <img
            src="images/services/services-details2-img.png"
            alt="Services Big Img"
          />
        </figure>
        <div class="reveal-me">
          <h3 id="service-overview">Service overview</h3>
          <p>
            At Rivor, we specialize in delivering comprehensive solutions that
            empower designers and businesses to bring their online visions to
            life. Our Figma to Framer conversion service streamlines the process
            of turning your Figma designs into stunning, fully functional
            websites on the Framer platform. With our expert team of developers
            and designers, we ensure a smooth transition from design to
            deployment, allowing you to focus on your core objectives while we
            take care of the technical details.
          </p>
        </div>
        <div class="reveal-me">
          <h3 id="our-service-includes">Our service includes</h3>
          <p>
            In-Depth Research and Analysis: We conduct thorough research to
            understand your brand, target audience, and industry trends,
            ensuring your website aligns with your business goals. <br />
            <br />
            Competitor Analysis: A comprehensive review of your competitors'
            digital presence to identify opportunities and gaps, helping you
            stand out in the market. <br />
            <br />
            User Experience (UX) Research: We gather insights on user behavior
            to inform design decisions, creating a website that offers an
            intuitive and engaging experience for visitors. <br />
            <br />SEO and Content Strategy Research: We develop strategies based
            on keyword research and content trends to improve your site's
            visibility and search ranking <br />
            <br />
            Technology and Platform Research: Our team evaluates the best
            technologies and platforms to ensure your website is built with the
            latest tools for optimal performance and scalability. the 'Best
            Sellers No-Code Website'! Seamlessly blending creativity and
            functionality, this innovative platform empowers businesses to
            showcase their top products with style and efficiency. Say goodbye
            to coding hassles and hello to
          </p>
        </div>
        <div class="reveal-me">
          <h3 id="why-choose">Why Choose Us</h3>
          <p>
            Expertise and Innovation: Our team combines years of experience with
            cutting-edge technology to deliver modern, functional, and visually
            stunning websites.<br />
            <br />
            Tailored Solutions: We understand that every project is unique, so
            we offer customized solutions that perfectly align with your brand
            and business objectives. <br />
            <br />
            Seamless Collaboration: We work closely with you throughout the
            entire process, ensuring your vision is realized while maintaining
            transparency and open communication. <br />
            <br />End-to-End Service: From concept to deployment, we handle
            every aspect of your website project, allowing you to focus on what
            matters most—your business. br
            <br />
            <br />

            Speed and Efficiency: With our streamlined process, we ensure timely
            delivery without compromising quality, so your website can launch
            quickly and effectively. <br /><br />
            Results-Driven Approach: We focus on delivering measurable outcomes,
            whether it's increased engagement, better user experience, or
            improved conversion rates.
            <br />
            <br />
            End-to-End Service: From concept to deployment, we handle every
            aspect of your website project, allowing you to focus on what
            matters most—your business. <br />Speed and Efficiency: With our
            streamlined process, we ensure timely delivery without compromising
            quality, so your website can launch quickly and effectively.
            Post-Launch Support: Our commitment doesn’t end at launch. <br />
            <br />
            We provide ongoing maintenance and support to keep your site running
            smoothly and up to date. Results-Driven Approach: We focus on
            delivering measurable outcomes, whether it's increased engagement,
            better user experience, or improved conversion rates.
          </p>
        </div>
      </article>
    </div>
  </div>
</section>
