<!--=====================================
   Services Accordion Section
======================================-->
<section
  class="mt-14 md:mt-16 lg:mt-[88px] xl:mt-[100px] mb-14 md:mb-16 lg:mb-[88px] xl:mb-[100px] relative overflow-hidden"
>
  <div
    class="absolute scale-y-[3.8] sm:scale-y-[3.3] md:scale-y-[2.8] lg:scale-y-[2.4] xl:scale-y-[1.2] scale-x-[2.7] xl:scale-x-[2.4] left-1/2 top-[47%] -translate-y-[45%] -translate-x-1/2"
  >
    <img src="images/services-gradient-bg-2.png" alt="" />
  </div>
  <div class="container">
    <div class="text-center mb-10 md:mb-20 reveal-me">
      <div class="rv-badge mb-5 md:mb-8">
        <span class="rv-badge-text">Services</span>
      </div>
      <h2 class="text-appear">
        There is a lot we can do. <br />
        Here is a few.
      </h2>
    </div>

    <!-- Accordion Container -->
    <div
      class="max-w-[1170px] w-full mx-auto [&>*:not(:last-child)]:mb-6 reveal-me"
    >
      <div
        class="accordion-itemV5 overflow-hidden bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 duration-300 faq-body-transition"
      >
        <div
          class="accordion-header relative cursor-pointer py-5 flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row items-start md:items-center gap-x-10 gap-y-3 text-[25px] md:text-4xl lg:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
          >
            <span class="text-inherit font-medium"> UX & Research </span>
            <p
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg"
            >
              Creating a remarkable experience for every individual
            </p>
          </h3>
          <div class="accordion-header-iconV5">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 ease-faq-body-transition duration-300 size-6 md:size-8"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-14 duration-300 faq-body-transition h-0 flex flex-col md:flex-row justify-start md:gap-14 md:ml-2"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
      <div
        class="accordion-itemV5 overflow-hidden bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 duration-300 faq-body-transition"
      >
        <div
          class="accordion-header relative cursor-pointer py-5 flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row items-start md:items-center gap-x-10 gap-y-3 text-[25px] md:text-4xl lg:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
          >
            <span class="text-inherit font-medium"> Product design </span>
            <p
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg"
            >
              Highly skilled product designers whose focus goes beyond UI & UX
            </p>
          </h3>
          <div class="accordion-header-iconV5">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 size-6 md:size-8 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-14 duration-300 faq-body-transition h-0 flex flex-col md:flex-row justify-start md:gap-14 md:ml-2"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
      <div
        class="accordion-itemV5 overflow-hidden bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 duration-300 faq-body-transition"
      >
        <div
          class="accordion-header relative cursor-pointer py-5 flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row items-start md:items-center gap-x-10 gap-y-3 text-[25px] md:text-4xl lg:text-5xl font-normal leading-[25.2px] md:leading-[1.2]"
          >
            <span class="text-inherit font-medium"> Visual Design </span>
            <p
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg"
            >
              Delivering excellence in every user experience
            </p>
          </h3>
          <div class="accordion-header-iconV5">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 size-6 md:size-8 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-14 duration-300 faq-body-transition h-0 flex flex-col md:flex-row justify-start md:gap-14 md:ml-2"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
      <div
        class="accordion-itemV5 overflow-hidden bg-white dark:bg-dark border border-secondary/10 dark:border-backgroundBody/10 duration-300 faq-body-transition"
      >
        <div
          class="accordion-header relative cursor-pointer py-5 flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row items-start md:items-center gap-x-10 gap-y-3 text-[25px] md:text-4xl lg:text-5xl font-normal leading-[25.2px] lg:leading-[1.2]"
          >
            <span class="text-inherit font-medium"> Motion/3D </span>
            <p
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] mt-2 pr-[2px] max-w-lg"
            >
              Creating a remarkable experience for every individual
            </p>
          </h3>
          <div class="accordion-header-iconV5">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 size-6 md:size-8 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-14 duration-300 faq-body-transition h-0 flex flex-col md:flex-row justify-start md:gap-14 md:ml-2"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
