<!--=====================================
   Services Accordion Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div
    class="absolute scale-y-[3.8] sm:scale-y-[3.3] md:scale-y-[3.2] lg:scale-y-[2.4] xl:scale-y-[1.2] scale-x-[2.7] xl:scale-x-[2.4] left-1/2 top-[47%] lg:top-[45%] -translate-y-[45%] -translate-x-1/2"
  >
    <img src="images/services-gradient-bg-2.png" alt="gradient-bg" />
  </div>
  <div class="container">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-y-2 gap-x-10 justify-center lg:justify-between items-start mb-10 md:mb-20 container"
    >
      <div class="flex-1">
        <h2 class="text-appear max-lg:leading-[1.33]">
          <span class="font-instrument lg:text-[65px] italic">Cool</span>

          services
        </h2>
      </div>
      <div class="md:self-end flex-1">
        <p class="text-appear max-w-lg">
          For a comprehensive services section, outline your offerings in a
          clear and organized manner. Here’s a general template you can use.
        </p>
      </div>
    </div>

    <!-- Accordion Container -->
    <div
      class="max-w-[1170px] w-full mx-auto [&>*:not(:last-child)]:mb-6 reveal-me"
    >
      <div
        class="accordion-item overflow-hidden bg-dark border border-dark duration-300"
      >
        <div
          class="accordion-header relative cursor-pointer py-[35px] flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row md:items-center gap-x-10 gap-y-3 text-[25px] lg:text-5xl md:font-medium font-normal leading-[25.2px] md:leading-[1.2] text-white"
          >
            <span class="text-inherit"> UX & Research </span>
            <span
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] text-[#ffffff99] mt-2 pr-[2px]"
            >
              Creating a remarkable experience for every individual
            </span>
          </h3>
          <div class="accordion-header-iconV3">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-10 duration-300 h-0 flex justify-start gap-14 md:ml-5"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
      <div
        class="accordion-item overflow-hidden bg-dark border border-dark duration-300"
      >
        <div
          class="accordion-header relative cursor-pointer py-[35px] flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row md:items-center gap-x-10 gap-y-3 text-[25px] lg:text-5xl md:font-medium font-normal leading-[25.2px] md:leading-[1.2] text-white"
          >
            <span class="text-inherit"> Web Development </span>
            <span
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] text-[#ffffff99] mt-2 pr-[2px]"
            >
              Creating a remarkable experience for every individual
            </span>
          </h3>
          <div class="accordion-header-iconV3">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-10 duration-300 h-0 flex justify-start gap-14 md:ml-5"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
      <div
        class="accordion-item overflow-hidden bg-dark border border-dark duration-300"
      >
        <div
          class="accordion-header relative cursor-pointer py-[35px] flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row md:items-center gap-x-10 gap-y-3 text-[25px] lg:text-5xl md:font-medium font-normal leading-[25.2px] md:leading-[1.2] text-white"
          >
            <span class="text-inherit"> Web Design </span>
            <span
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] text-[#ffffff99] mt-2 pr-[2px]"
            >
              Creating a remarkable experience for every individual
            </span>
          </h3>
          <div class="accordion-header-iconV3">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-10 duration-300 h-0 flex justify-start gap-14 md:ml-5"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
      <div
        class="accordion-item overflow-hidden bg-dark border border-dark duration-300"
      >
        <div
          class="accordion-header relative cursor-pointer py-[35px] flex justify-between px-5 md:px-10 group"
        >
          <h3
            class="flex flex-col md:flex-row md:items-center gap-x-10 gap-y-3 text-[25px] lg:text-5xl lg:font-medium font-normal leading-[25.2px] lg:leading-[1.2] text-white"
          >
            <span class="text-inherit"> Wordpress </span>
            <span
              class="text-base md:text-xl md:leading-[1.4] md:tracking-[0.4px] text-[#ffffff99] mt-2 pr-[2px]"
            >
              Creating a remarkable experience for every individual
            </span>
          </h3>
          <div class="accordion-header-iconV3">
            <span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="32"
                height="32"
                viewBox="0 0 32 32"
                fill="none"
                class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 active-arrow group-hover:rotate-90 ease-faq-body-transition duration-300"
              >
                <path
                  d="M5 16H27"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18 7L27 16L18 25"
                  stroke="black"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
        <div
          class="accordion-body px-10 duration-300 faq-body-transition h-0 flex justify-start gap-14 md:ml-5"
        >
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
          <ul class="[&>*:not(:last-child)]:mb-1">
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              User Research & Market Analysis
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Prototyping
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Concept Ideation
            </li>
            <li
              class="list-disc text-colorText text-[17px] leading-[1.5] tracking-[0.36px]"
            >
              Sketching & Wireframing
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
