<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <div class="text-center">
      <div class="rv-badge mb-3 md:mb-8 reveal-me">
        <span class="rv-badge-text">Solutions</span>
      </div>
      <h2 class="mx-auto mb-10 md:mb-20 text-appear">
        Creative solutions for your business <br />
        challenges.
      </h2>
    </div>
    <div class="[&>*:not(:last-child)]:mb-4">
      <!-- Card -1 -->
      <div
        class="flex flex-col-reverse md:flex-row items-center border dark:border-dark md:gap-x-11 lg:gap-x-[70px] md:gap-y-10 reveal-me underline-hover-effect group"
      >
        <div class="pl-5 lg:pl-10 max-md:pr-5 max-lg:py-6 flex-1">
          <a href="blog-details.html">
            <div class="blog-title mb-6">
              <h3
                class="text[27px] md:text-4xl md:leading-[1.2] md:tracking-[-0.72px]"
              >
                Understanding Your Business Goals
              </h3>
            </div>
          </a>
          <p class="border-t dark:border-dark pt-2 md:pt-5">
            We start by gaining a deep understanding of your business goals.
          </p>
        </div>
        <figure
          class="overflow-hidden flex-1 w-full h-full max-md:p-3 max-lg:pr-4"
        >
          <a href="blog-details.html" class="block">
            <img
              src="images/blog-img/blogV3-img-1.png"
              alt="Blog Images"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            />
          </a>
        </figure>
      </div>
      <!-- Card -2 -->
      <div
        class="flex flex-col-reverse md:flex-row items-center border dark:border-dark md:gap-x-11 lg:gap-x-[70px] md:gap-y-10 reveal-me underline-hover-effect group"
      >
        <div class="pl-5 lg:pl-10 max-md:pr-5 max-lg:py-6 flex-1">
          <a href="blog-details.html">
            <div class="blog-title mb-6">
              <h3
                class="text[27px] md:text-4xl md:leading-[1.2] md:tracking-[-0.72px]"
              >
                Developing Tailored Solutions
              </h3>
            </div>
          </a>
          <p class="border-t dark:border-dark pt-2 md:pt-5">
            Next, our team of experts develops tailored solutions.
          </p>
        </div>
        <figure
          class="overflow-hidden flex-1 w-full h-full max-md:p-3 max-lg:pr-4"
        >
          <a href="blog-details.html" class="block">
            <img
              src="images/blog-img/blogV3-img-2.png"
              alt="Blog Images"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            />
          </a>
        </figure>
      </div>
      <!-- Card -3 -->
      <div
        class="flex flex-col-reverse md:flex-row items-center border dark:border-dark md:gap-x-11 lg:gap-x-[70px] md:gap-y-10 reveal-me underline-hover-effect group"
      >
        <div class="pl-5 lg:pl-10 max-md:pr-5 max-lg:py-6 flex-1">
          <a href="blog-details.html">
            <div class="blog-title mb-6">
              <h3
                class="text[27px] md:text-4xl md:leading-[1.2] md:tracking-[-0.72px]"
              >
                Implementing Technology
              </h3>
            </div>
          </a>
          <p class="border-t dark:border-dark pt-2 md:pt-5">
            We leverage cutting-edge technology to implement seamlessly
          </p>
        </div>
        <figure
          class="overflow-hidden flex-1 w-full h-full max-md:p-3 max-lg:pr-4"
        >
          <a href="blog-details.html" class="block">
            <img
              src="images/blog-img/blogV3-img-3.png"
              alt="Blog Images"
              class="w-full h-full transition-all duration-500 group-hover:scale-125 group-hover:rotate-3"
            />
          </a>
        </figure>
      </div>
    </div>
  </div>
</section>
