<!--=====================================
   Terms and Conditions Section
======================================-->
<section
  class="pt-32 md:pt-36 lg:pt-[180px] pb-12 lg:pb-16 2xl:pb-[100px] overflow-hidden relative"
>
  <!-- Background Gradient Wrapper: Creates a blurred, responsive background effect -->
  <div
    id="hero-gradient-wrapper"
    class="absolute w-1/2 md:w-[40%] h-1/2 md:h-[40%] top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 -z-10 blur-[60px] md:scale-90 lg:scale-75"
  >
    <!-- Gradient Background Image: Positioned centrally with responsive sizing -->
    <img
      src="images/hero-gradient-background.png"
      alt="hero-gradient-background"
      id="hero-gradient"
      class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
    />
  </div>

  <!-- Container for page content with reveal animation -->
  <div class="container reveal-me">
    <div class="text-center">
      <!-- Badge to provide additional context or categorization -->
      <div class="rv-badge mb-4 md:mb-8">
        <span class="rv-badge-text"> Team</span>
      </div>

      <!-- Main page heading with dark mode support -->
      <h1 class="dark:text-white">Our Creative Team</h1>
      <p class="mt-5 max-w-xl lg:max-w-[750px] mx-auto">
        Turn your vision into reality with Rivor. We blend design, strategy, and
        technology to build powerful digital experiences that elevate your
        brand.
      </p>
    </div>
  </div>
</section>
