<section class="py-20 md:py-36 lg:py-44 xl:py-[220px]">
  <div class="container">
    <div
      class="flex flex-col md:flex-row gap-y-7 gap-x-10 justify-center lg:justify-between items-center mb-10 lg:mb-20"
    >
      <div class="md:flex-1 self-start">
        <h2 class="text-appear">
          The Minds
          <span class="font-instrument lg:text-[73px] italic">Behind</span>
          <br class="hidden md:block" />
          Galways
        </h2>
      </div>
      <div class="md:max-w-[470px] reveal-me">
        <p class="text-appear mb-4 lg:mb-10">
          Meet our passionate and diverse team of experts who drive innovation, challenge boundaries, and create
          solutions that push the envelope of technology.
        </p>

        <a
          href="team.html"
          class="rv-button rv-button-secondary reveal-me max-md:flex max-md:flex-col max-md:justify-center"
        >
          <div class="rv-button-top !text-center">
            <span>See our Team</span>
          </div>
          <div class="rv-button-bottom !text-center">
            <span>See our Team</span>
          </div>
        </a>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center reveal-me">
      <div class="group max-w-[390px] overflow-hidden transition-all duration-500 ease-in-out">
        <div class="relative h-full bg-white">
          <figure>
            <img
              src="images/home-ai/team/ai-team-1.png"
              alt="Ai Team Member"
              class="w-full h-full object-cover"
            />
          </figure>
          <div
            class="absolute inset-0 flex flex-col justify-start p-10 bg-black text-white transition-all duration-500 ease-in-out top-0 scale-90 translate-y-4 opacity-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0"
          >
            <div class="team-title">
              <a href="team-details.html">
                <h3 class="text-4xl leading-[1.2] tracking-[-1.08px] text-white">Jacob Jones</h3>
              </a>
            </div>
            <p class="mt-4">
              Physiological respiration involves the mechanisms that ensure that the composition of the functional
            </p>
            <ul class="flex items-center gap-10 absolute bottom-10">
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://x.com/heystaticmania">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.2439 2.25H21.5519L14.3249 10.51L22.8269 21.75H16.1699L10.9559 14.933L4.98991 21.75H1.67991L9.40991 12.915L1.25391 2.25H8.07991L12.7929 8.481L18.2439 2.25ZM17.0829 19.77H18.9159L7.08391 4.126H5.11691L17.0829 19.77Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://www.facebook.com/staticmania/">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1280_62429)">
                      <path
                        d="M24 12.07C24 5.41 18.63 0 12 0C5.37 0 0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24V15.56H7.08V12.07H10.12V9.41C10.12 6.39 11.92 4.71 14.66 4.71C15.97 4.71 17.34 4.95 17.34 4.95V7.92H15.84C14.34 7.92 13.88 8.85 13.88 9.81V12.07H17.2L16.67 15.57H13.87V24C19.62 23.1 24 18.1 24 12.07Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1280_62429">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://youtu.be/OA1MX4n4EXg?si=Le_RDa8JKL_Mzr-O">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.04 3.49828C12.63 3.49828 19.58 3.51828 21.38 3.99828C21.891 4.13911 22.3559 4.41192 22.728 4.78932C23.1001 5.16671 23.3664 5.6354 23.5 6.14828C24 8.04828 24 11.9983 24 11.9983V12.0383C24 12.4683 23.97 16.0683 23.5 17.8383C23.3679 18.353 23.1023 18.8238 22.7301 19.203C22.3579 19.5823 21.8922 19.8566 21.38 19.9983C19.62 20.4783 12.93 20.4983 12.08 20.5083H11.91C11.06 20.5083 4.37 20.4783 2.62 20.0083C2.10662 19.8657 1.64008 19.5899 1.26775 19.2088C0.895418 18.8277 0.63054 18.3548 0.5 17.8383C0.08 16.2283 0.01 13.1383 0 12.2383V11.7383C0.01 10.8383 0.08 7.74828 0.5 6.13828C0.635168 5.62724 0.902108 5.16063 1.27414 4.78509C1.64617 4.40955 2.11025 4.13824 2.62 3.99828C4.42 3.50828 11.37 3.48828 11.96 3.48828L12.04 3.49828ZM9.54 8.39828V15.5783L15.82 11.9983L9.54 8.40828V8.39828Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group max-w-[390px] overflow-hidden transition-all duration-500 ease-in-out">
        <div class="relative h-full bg-white">
          <figure>
            <img
              src="images/home-ai/team/ai-team-2.png"
              alt="Ai Team Member"
              class="w-full h-full object-cover"
            />
          </figure>
          <div
            class="absolute inset-0 flex flex-col justify-start p-10 bg-black text-white transition-all duration-500 ease-in-out top-0 scale-90 translate-y-4 opacity-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0"
          >
            <div class="team-title">
              <a href="team-details.html">
                <h3 class="text-4xl leading-[1.2] tracking-[-1.08px] text-white">Jaks Addison</h3>
              </a>
            </div>
            <p class="mt-4">
              Physiological respiration involves the mechanisms that ensure that the composition of the functional
            </p>
            <ul class="flex items-center gap-10 absolute bottom-10">
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://x.com/heystaticmania">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.2439 2.25H21.5519L14.3249 10.51L22.8269 21.75H16.1699L10.9559 14.933L4.98991 21.75H1.67991L9.40991 12.915L1.25391 2.25H8.07991L12.7929 8.481L18.2439 2.25ZM17.0829 19.77H18.9159L7.08391 4.126H5.11691L17.0829 19.77Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>

              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://www.facebook.com/staticmania/">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1280_62429)">
                      <path
                        d="M24 12.07C24 5.41 18.63 0 12 0C5.37 0 0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24V15.56H7.08V12.07H10.12V9.41C10.12 6.39 11.92 4.71 14.66 4.71C15.97 4.71 17.34 4.95 17.34 4.95V7.92H15.84C14.34 7.92 13.88 8.85 13.88 9.81V12.07H17.2L16.67 15.57H13.87V24C19.62 23.1 24 18.1 24 12.07Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1280_62429">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://youtu.be/OA1MX4n4EXg?si=Le_RDa8JKL_Mzr-O">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.04 3.49828C12.63 3.49828 19.58 3.51828 21.38 3.99828C21.891 4.13911 22.3559 4.41192 22.728 4.78932C23.1001 5.16671 23.3664 5.6354 23.5 6.14828C24 8.04828 24 11.9983 24 11.9983V12.0383C24 12.4683 23.97 16.0683 23.5 17.8383C23.3679 18.353 23.1023 18.8238 22.7301 19.203C22.3579 19.5823 21.8922 19.8566 21.38 19.9983C19.62 20.4783 12.93 20.4983 12.08 20.5083H11.91C11.06 20.5083 4.37 20.4783 2.62 20.0083C2.10662 19.8657 1.64008 19.5899 1.26775 19.2088C0.895418 18.8277 0.63054 18.3548 0.5 17.8383C0.08 16.2283 0.01 13.1383 0 12.2383V11.7383C0.01 10.8383 0.08 7.74828 0.5 6.13828C0.635168 5.62724 0.902108 5.16063 1.27414 4.78509C1.64617 4.40955 2.11025 4.13824 2.62 3.99828C4.42 3.50828 11.37 3.48828 11.96 3.48828L12.04 3.49828ZM9.54 8.39828V15.5783L15.82 11.9983L9.54 8.40828V8.39828Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group max-w-[390px] overflow-hidden transition-all duration-500 ease-in-out">
        <div class="relative h-full bg-white">
          <figure>
            <img
              src="images/home-ai/team/ai-team-3.png"
              alt="Ai Team Member"
              class="w-full h-full object-cover"
            />
          </figure>
          <div
            class="absolute inset-0 flex flex-col justify-start p-10 bg-black text-white transition-all duration-500 ease-in-out top-0 scale-90 translate-y-4 opacity-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0"
          >
            <div class="team-title">
              <a href="team-details.html">
                <h3 class="text-4xl leading-[1.2] tracking-[-1.08px] text-white">Marvin McKinney</h3>
              </a>
            </div>
            <p class="mt-4">
              Physiological respiration involves the mechanisms that ensure that the composition of the functional
            </p>
            <ul class="flex items-center gap-10 absolute bottom-10">
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://x.com/heystaticmania">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.2439 2.25H21.5519L14.3249 10.51L22.8269 21.75H16.1699L10.9559 14.933L4.98991 21.75H1.67991L9.40991 12.915L1.25391 2.25H8.07991L12.7929 8.481L18.2439 2.25ZM17.0829 19.77H18.9159L7.08391 4.126H5.11691L17.0829 19.77Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://www.facebook.com/staticmania/">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1280_62429)">
                      <path
                        d="M24 12.07C24 5.41 18.63 0 12 0C5.37 0 0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24V15.56H7.08V12.07H10.12V9.41C10.12 6.39 11.92 4.71 14.66 4.71C15.97 4.71 17.34 4.95 17.34 4.95V7.92H15.84C14.34 7.92 13.88 8.85 13.88 9.81V12.07H17.2L16.67 15.57H13.87V24C19.62 23.1 24 18.1 24 12.07Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1280_62429">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://youtu.be/OA1MX4n4EXg?si=Le_RDa8JKL_Mzr-O">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.04 3.49828C12.63 3.49828 19.58 3.51828 21.38 3.99828C21.891 4.13911 22.3559 4.41192 22.728 4.78932C23.1001 5.16671 23.3664 5.6354 23.5 6.14828C24 8.04828 24 11.9983 24 11.9983V12.0383C24 12.4683 23.97 16.0683 23.5 17.8383C23.3679 18.353 23.1023 18.8238 22.7301 19.203C22.3579 19.5823 21.8922 19.8566 21.38 19.9983C19.62 20.4783 12.93 20.4983 12.08 20.5083H11.91C11.06 20.5083 4.37 20.4783 2.62 20.0083C2.10662 19.8657 1.64008 19.5899 1.26775 19.2088C0.895418 18.8277 0.63054 18.3548 0.5 17.8383C0.08 16.2283 0.01 13.1383 0 12.2383V11.7383C0.01 10.8383 0.08 7.74828 0.5 6.13828C0.635168 5.62724 0.902108 5.16063 1.27414 4.78509C1.64617 4.40955 2.11025 4.13824 2.62 3.99828C4.42 3.50828 11.37 3.48828 11.96 3.48828L12.04 3.49828ZM9.54 8.39828V15.5783L15.82 11.9983L9.54 8.40828V8.39828Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group max-w-[390px] overflow-hidden transition-all duration-500 ease-in-out">
        <div class="relative h-full bg-white">
          <figure>
            <img
              src="images/home-ai/team/ai-team-4.png"
              alt="Ai Team Member"
              class="w-full h-full object-cover"
            />
          </figure>
          <div
            class="absolute inset-0 flex flex-col justify-start p-10 bg-black text-white transition-all duration-500 ease-in-out top-0 scale-90 translate-y-4 opacity-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0"
          >
            <div class="team-title">
              <a href="team-details.html">
                <h3 class="text-4xl leading-[1.2] tracking-[-1.08px] text-white">Jones</h3>
              </a>
            </div>
            <p class="mt-4">
              Physiological respiration involves the mechanisms that ensure that the composition of the functional
            </p>
            <ul class="flex items-center gap-10 absolute bottom-10">
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://x.com/heystaticmania">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.2439 2.25H21.5519L14.3249 10.51L22.8269 21.75H16.1699L10.9559 14.933L4.98991 21.75H1.67991L9.40991 12.915L1.25391 2.25H8.07991L12.7929 8.481L18.2439 2.25ZM17.0829 19.77H18.9159L7.08391 4.126H5.11691L17.0829 19.77Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://www.facebook.com/staticmania/">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1280_62429)">
                      <path
                        d="M24 12.07C24 5.41 18.63 0 12 0C5.37 0 0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24V15.56H7.08V12.07H10.12V9.41C10.12 6.39 11.92 4.71 14.66 4.71C15.97 4.71 17.34 4.95 17.34 4.95V7.92H15.84C14.34 7.92 13.88 8.85 13.88 9.81V12.07H17.2L16.67 15.57H13.87V24C19.62 23.1 24 18.1 24 12.07Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1280_62429">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://youtu.be/OA1MX4n4EXg?si=Le_RDa8JKL_Mzr-O">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.04 3.49828C12.63 3.49828 19.58 3.51828 21.38 3.99828C21.891 4.13911 22.3559 4.41192 22.728 4.78932C23.1001 5.16671 23.3664 5.6354 23.5 6.14828C24 8.04828 24 11.9983 24 11.9983V12.0383C24 12.4683 23.97 16.0683 23.5 17.8383C23.3679 18.353 23.1023 18.8238 22.7301 19.203C22.3579 19.5823 21.8922 19.8566 21.38 19.9983C19.62 20.4783 12.93 20.4983 12.08 20.5083H11.91C11.06 20.5083 4.37 20.4783 2.62 20.0083C2.10662 19.8657 1.64008 19.5899 1.26775 19.2088C0.895418 18.8277 0.63054 18.3548 0.5 17.8383C0.08 16.2283 0.01 13.1383 0 12.2383V11.7383C0.01 10.8383 0.08 7.74828 0.5 6.13828C0.635168 5.62724 0.902108 5.16063 1.27414 4.78509C1.64617 4.40955 2.11025 4.13824 2.62 3.99828C4.42 3.50828 11.37 3.48828 11.96 3.48828L12.04 3.49828ZM9.54 8.39828V15.5783L15.82 11.9983L9.54 8.40828V8.39828Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group max-w-[390px] overflow-hidden transition-all duration-500 ease-in-out">
        <div class="relative h-full bg-white">
          <figure>
            <img
              src="images/home-ai/team/ai-team-5.png"
              alt="Ai Team Member"
              class="w-full h-full object-cover"
            />
          </figure>
          <div
            class="absolute inset-0 flex flex-col justify-start p-10 bg-black text-white transition-all duration-500 ease-in-out top-0 scale-90 translate-y-4 opacity-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0"
          >
            <div class="team-title">
              <a href="team-details.html">
                <h3 class="text-4xl leading-[1.2] tracking-[-1.08px] text-white">Jacob Jones</h3>
              </a>
            </div>

            <p class="mt-4">
              Physiological respiration involves the mechanisms that ensure that the composition of the functional
            </p>
            <ul class="flex items-center gap-10 absolute bottom-10">
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://x.com/heystaticmania">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.2439 2.25H21.5519L14.3249 10.51L22.8269 21.75H16.1699L10.9559 14.933L4.98991 21.75H1.67991L9.40991 12.915L1.25391 2.25H8.07991L12.7929 8.481L18.2439 2.25ZM17.0829 19.77H18.9159L7.08391 4.126H5.11691L17.0829 19.77Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://www.facebook.com/staticmania/">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1280_62429)">
                      <path
                        d="M24 12.07C24 5.41 18.63 0 12 0C5.37 0 0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24V15.56H7.08V12.07H10.12V9.41C10.12 6.39 11.92 4.71 14.66 4.71C15.97 4.71 17.34 4.95 17.34 4.95V7.92H15.84C14.34 7.92 13.88 8.85 13.88 9.81V12.07H17.2L16.67 15.57H13.87V24C19.62 23.1 24 18.1 24 12.07Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1280_62429">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://youtu.be/OA1MX4n4EXg?si=Le_RDa8JKL_Mzr-O">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.04 3.49828C12.63 3.49828 19.58 3.51828 21.38 3.99828C21.891 4.13911 22.3559 4.41192 22.728 4.78932C23.1001 5.16671 23.3664 5.6354 23.5 6.14828C24 8.04828 24 11.9983 24 11.9983V12.0383C24 12.4683 23.97 16.0683 23.5 17.8383C23.3679 18.353 23.1023 18.8238 22.7301 19.203C22.3579 19.5823 21.8922 19.8566 21.38 19.9983C19.62 20.4783 12.93 20.4983 12.08 20.5083H11.91C11.06 20.5083 4.37 20.4783 2.62 20.0083C2.10662 19.8657 1.64008 19.5899 1.26775 19.2088C0.895418 18.8277 0.63054 18.3548 0.5 17.8383C0.08 16.2283 0.01 13.1383 0 12.2383V11.7383C0.01 10.8383 0.08 7.74828 0.5 6.13828C0.635168 5.62724 0.902108 5.16063 1.27414 4.78509C1.64617 4.40955 2.11025 4.13824 2.62 3.99828C4.42 3.50828 11.37 3.48828 11.96 3.48828L12.04 3.49828ZM9.54 8.39828V15.5783L15.82 11.9983L9.54 8.40828V8.39828Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="group max-w-[390px] overflow-hidden transition-all duration-500 ease-in-out">
        <div class="relative h-full bg-white">
          <figure>
            <img
              src="images/home-ai/team/ai-team-1.png"
              alt="Ai Team Member"
              class="w-full h-full object-cover"
            />
          </figure>
          <div
            class="absolute inset-0 flex flex-col justify-start p-10 bg-black text-white transition-all duration-500 ease-in-out top-0 scale-90 translate-y-4 opacity-0 group-hover:opacity-100 group-hover:scale-100 group-hover:translate-y-0"
          >
            <div class="team-title">
              <a href="team-details.html">
                <h3 class="text-4xl leading-[1.2] tracking-[-1.08px] text-white">Jacob Jones</h3>
              </a>
            </div>
            <p class="mt-4">
              Physiological respiration involves the mechanisms that ensure that the composition of the functional
            </p>
            <ul class="flex items-center gap-10 absolute bottom-10">
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://x.com/heystaticmania">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M18.2439 2.25H21.5519L14.3249 10.51L22.8269 21.75H16.1699L10.9559 14.933L4.98991 21.75H1.67991L9.40991 12.915L1.25391 2.25H8.07991L12.7929 8.481L18.2439 2.25ZM17.0829 19.77H18.9159L7.08391 4.126H5.11691L17.0829 19.77Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://www.facebook.com/staticmania/">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <g clip-path="url(#clip0_1280_62429)">
                      <path
                        d="M24 12.07C24 5.41 18.63 0 12 0C5.37 0 0 5.4 0 12.07C0 18.1 4.39 23.1 10.13 24V15.56H7.08V12.07H10.12V9.41C10.12 6.39 11.92 4.71 14.66 4.71C15.97 4.71 17.34 4.95 17.34 4.95V7.92H15.84C14.34 7.92 13.88 8.85 13.88 9.81V12.07H17.2L16.67 15.57H13.87V24C19.62 23.1 24 18.1 24 12.07Z"
                        fill="white"
                      />
                    </g>
                    <defs>
                      <clipPath id="clip0_1280_62429">
                        <rect
                          width="24"
                          height="24"
                          fill="white"
                        />
                      </clipPath>
                    </defs>
                  </svg>
                </a>
              </li>
              <li class="hover:-translate-y-2 duration-500 ease-in-out">
                <a href="https://youtu.be/OA1MX4n4EXg?si=Le_RDa8JKL_Mzr-O">
                  <svg
                    class="transition-all duration-500 ease-in-out hover:stroke-primary"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                  >
                    <path
                      d="M12.04 3.49828C12.63 3.49828 19.58 3.51828 21.38 3.99828C21.891 4.13911 22.3559 4.41192 22.728 4.78932C23.1001 5.16671 23.3664 5.6354 23.5 6.14828C24 8.04828 24 11.9983 24 11.9983V12.0383C24 12.4683 23.97 16.0683 23.5 17.8383C23.3679 18.353 23.1023 18.8238 22.7301 19.203C22.3579 19.5823 21.8922 19.8566 21.38 19.9983C19.62 20.4783 12.93 20.4983 12.08 20.5083H11.91C11.06 20.5083 4.37 20.4783 2.62 20.0083C2.10662 19.8657 1.64008 19.5899 1.26775 19.2088C0.895418 18.8277 0.63054 18.3548 0.5 17.8383C0.08 16.2283 0.01 13.1383 0 12.2383V11.7383C0.01 10.8383 0.08 7.74828 0.5 6.13828C0.635168 5.62724 0.902108 5.16063 1.27414 4.78509C1.64617 4.40955 2.11025 4.13824 2.62 3.99828C4.42 3.50828 11.37 3.48828 11.96 3.48828L12.04 3.49828ZM9.54 8.39828V15.5783L15.82 11.9983L9.54 8.40828V8.39828Z"
                      fill="white"
                    />
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
