<!--=====================================
   Team Member Showcase Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative z-50 overflow-hidden"
>
  <div class="container reveal-me">
    <!-- Main Profile Card -->
    <div
      class="our-team-details flex flex-col lg:flex-row gap-10 gap-x-[30px] max-md:justify-center max-md:items-center border dark:border-dark p-5 lg:p-10 bg-backgroundBody dark:bg-dark"
    >
      <figure class="max-lg:w-full lg:max-w-[330px] lg:max-h-[350px]">
        <img
          src="images/home-ai/team/ai-team-1.png"
          alt="Team Leader"
          class="w-full object-cover"
        />
      </figure>

      <!-- Profile Details Container -->
      <div>
        <div
          class="flex flex-col gap-y-10 md:flex-row justify-between mb-5 lg:mb-10"
        >
          <div>
            <h2 class="lg:text-4xl lg:leading-[1.2] lg:-tracking-[1.08px] mb-3">
              Marvin McKinney
            </h2>

            <p class="text-lg font-light leading-[20px]">Founder</p>
          </div>
          <ul class="flex gap-5 md:self-end">
            <li>
              <a href="https://x.com/home" target="_blank">
                <img
                  src="images\icons\x-twitter.svg"
                  alt="Twitter"
                  class="inline dark:hidden"
                />
                <img
                  src="images\icons\x-twitter-dark.svg"
                  alt="Twitter"
                  class="hidden dark:inline"
                />
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/staticmania" target="_blank">
                <img
                  src="images\icons\facebook.svg"
                  alt="Facebook"
                  class="inline dark:hidden"
                />
                <img
                  src="images\icons\facebook-dark.svg"
                  alt="Facebook"
                  class="hidden dark:inline"
                />
              </a>
            </li>
            <li>
              <a
                href="https://youtu.be/ceJ82RaW9mM?si=t9f7MrHVZSmeR8Gl"
                target="_blank"
              >
                <img
                  src="images\icons\youtube.svg"
                  alt="YouTube"
                  class="inline dark:hidden"
                />
                <img
                  src="images\icons\youtube-dark.svg"
                  alt="YouTube"
                  class="hidden dark:inline"
                />
              </a>
            </li>
          </ul>
        </div>
        <div class="max-w-[730px] border-t dark:border-dark pt-5 lg:pt-10">
          <p>
            Enthusiasts of open-source and no-code tools, a professional UI/UX
            designer with 17 years of industry experience, I’m a visionary
            entrepreneur, crafting innovative tech solutions. StaticMania and
            KEEP Design System are my other breakthrough moves.
          </p>
        </div>
      </div>
    </div>

    <!-- Team Member Selection Tabs -->
    <div class="flex max-lg:flex-wrap gap-6 justify-center mt-[30px]">
      <div
        class="tab-member max-w-[370px] flex-auto border dark:border-dark p-5 flex items-center h-auto gap-5 transitionTimingFunction tab-active"
        data-member="marvin"
      >
        <figure>
          <img
            src="images/home-ai/team/ai-team-1.png"
            alt="Marvin McKinney"
            class="w-[130px] h-[130px] object-cover"
          />
        </figure>
        <div>
          <h3 class="text-2xl leading-[1.2] tracking-[-0.72px] mb-3">
            Marvin McKinney
          </h3>
          <p>Founder</p>
        </div>
      </div>
      <div
        class="tab-member border dark:border-dark max-w-[370px] flex-auto p-5 flex items-center h-auto gap-5 transitionTimingFunction"
        data-member="marvin"
      >
        <figure>
          <img
            src="images/home-ai/team/ai-team-2.png"
            alt="Marvin McKinney"
            class="w-[130px] h-[130px] object-cover"
          />
        </figure>
        <div>
          <h3 class="text-2xl leading-[1.2] tracking-[-0.72px] mb-3">
            Jacks Henry
          </h3>
          <p>Co-Founder</p>
        </div>
      </div>
      <div
        class="tab-member max-w-[370px] flex-auto border dark:border-dark p-5 flex items-center h-auto gap-5 transitionTimingFunction"
        data-member="marvin"
      >
        <figure>
          <img
            src="images/home-ai/team/ai-team-3.png"
            alt="Marvin McKinney"
            class="w-[130px] h-[130px] object-cover"
          />
        </figure>
        <div>
          <h3 class="text-2xl leading-[1.2] tracking-[-0.72px] mb-3">
            Courtney Henry
          </h3>
          <p>Web Engineer</p>
        </div>
      </div>
    </div>
  </div>
</section>
