<!--=====================================
   Team Members Grid Section
======================================-->
<section
  class="flex items-center justify-center pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container w-full">
    <!-- Section Header -->
    <div
      class="flex flex-col md:flex-row gap-x-10 gap-y-2 justify-center lg:justify-between items-start md:items-center mb-20"
    >
      <div class="md:flex-1">
        <h2 class="text-appear block md:hidden">
          <span class="font-instrument lg:text-[80px] italic"> Team </span>

          Members
        </h2>
        <h2 class="text-appear text-nowrap hidden md:block">
          <span class="font-instrument lg:text-[80px] italic"> Team </span>
          <br />
          Members
        </h2>
      </div>
      <div class="md:self-end flex-1">
        <p class="text-appear">
          Here’s a template to introduce a team <br />
          member in an engaging and professional <br />
          way.
        </p>
      </div>
    </div>

    <!-- Desktop Layout (lg and above) -->
    <div class="max-lg:hidden lg:block">
      <div
        class="flex justify-center items-center space-x-4 h-96 overflow-hidden"
      >
        <div
          class="group relative w-40 h-96 transition-all duration-500 ease-in-out hover:w-96 hover:h-full cursor-pointer"
        >
          <img
            src="images/home-ai/team/ai-team-1.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-7 px-5 opacity-0 -translate-y-40 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 bg-primary m-5"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="md:text-4xl md:leading-[1.2] md:tracking-[-1.08px]">
                  Henry
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div
          class="group relative w-40 h-96 transition-all duration-500 ease-in-out hover:w-96 hover:h-full cursor-pointer"
        >
          <img
            src="images/home-ai/team/ai-team-2.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-7 px-5 opacity-0 -translate-y-40 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 bg-primary m-5"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="md:text-4xl md:leading-[1.2] md:tracking-[-1.08px]">
                  Addison
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div
          class="group relative w-40 h-96 transition-all duration-500 ease-in-out hover:w-96 hover:h-full cursor-pointer"
        >
          <img
            src="images/home-ai/team/ai-team-3.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-7 px-5 opacity-0 -translate-y-40 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 bg-primary m-5"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="md:text-4xl md:leading-[1.2] md:tracking-[-1.08px]">
                  David Kim
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div
          class="group relative w-40 h-96 transition-all duration-500 ease-in-out hover:w-96 hover:h-full cursor-pointer"
        >
          <img
            src="images/home-ai/team/ai-team-4.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-7 px-5 opacity-0 -translate-y-40 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 bg-primary m-5"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="md:text-4xl md:leading-[1.2] md:tracking-[-1.08px]">
                  John Carter
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div
          class="group relative w-40 h-96 transition-all duration-500 ease-in-out hover:w-96 hover:h-full cursor-pointer"
        >
          <img
            src="images/home-ai/team/ai-team-5.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-7 px-5 opacity-0 -translate-y-40 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 bg-primary m-5"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="md:text-4xl md:leading-[1.2] md:tracking-[-1.08px]">
                  Emily
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div
          class="group relative w-40 h-96 transition-all duration-500 ease-in-out hover:w-96 hover:h-full cursor-pointer"
        >
          <img
            src="images/home-ai/team/ai-team-4.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-7 px-5 opacity-0 -translate-y-40 group-hover:translate-y-0 group-hover:opacity-100 transition-all duration-500 bg-primary m-5"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="md:text-4xl md:leading-[1.2] md:tracking-[-1.08px]">
                  Thompson
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile/Tablet Layout (below lg) -->
    <div class="max-lg:block lg:hidden">
      <div
        class="relative grid grid-cols-1 sm:grid-cols-2 justify-center gap-10 items-center"
      >
        <div class="relative reveal-me">
          <img
            src="images/home-ai/team/ai-team-1.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-4 px-4 m-5 bg-primary"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.08px]">
                  John Henry
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div class="relative reveal-me">
          <img
            src="images/home-ai/team/ai-team-2.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-4 px-4 m-5 bg-primary"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.08px]">
                  Addison
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div class="relative reveal-me">
          <img
            src="images/home-ai/team/ai-team-3.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-4 px-4 m-5 bg-primary"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.08px]">
                  Thompson
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div class="relative reveal-me">
          <img
            src="images/home-ai/team/ai-team-4.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-4 px-4 m-5 bg-primary"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.08px]">
                  Emily
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div class="relative reveal-me">
          <img
            src="images/home-ai/team/ai-team-5.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-4 px-4 m-5 bg-primary"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.08px]">
                  John Carter
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
        <div class="relative reveal-me">
          <img
            src="images/home-ai/team/ai-team-4.png"
            alt="Team member 1"
            class="w-full h-full object-cover shadow-lg transition-all duration-300 ease-in-out"
          />
          <div
            class="absolute bottom-0 left-0 right-0 py-4 px-4 m-5 bg-primary"
          >
            <a href="team-details.html">
              <div class="blog-title mb-1">
                <h3 class="lg:text-4xl lg:leading-[1.2] lg:tracking-[-1.08px]">
                  David Kim
                </h3>
              </div>
            </a>
            <p class="text-lg font-light leading-5 text-black/70">Founder</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
