<section class="py-20 md:py-24 lg:py-28 xl:py-[220px]">
  <div class="container">
    <div class="flex flex-col justify-center">
      <h2 class="text-center mb-14 lg:mb-20 text-appear">Feedback</h2>

      <div class="user-swiper swiper overflow-hidden reveal-me">
        <div class="swiper-wrapper relative">
          <div class="swiper-slide">
            <div class="flex flex-col gap-10 md:flex-row justify-center">
              <img
                src="images/home-ai/team/ai-team-1.png"
                class="max-w-[300px] h-[289px]"
                alt="Person"
              />
              <div class="grid content-between">
                <p class="max-w-96 lg:max-w-[630px]">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam
                  rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                </p>
                <p class="flex gap-5 items-center max-md:my-4">
                  <span class="text-2xl leading-[28.8px]">Svetlana Shkurdze</span>
                  <span>|</span>
                  <span class="text-[13px] font-light">Co-Founder</span>
                </p>
                <div class="flex items-center justify-between">
                  <div class="flex gap-4 items-center">
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://www.linkedin.com/company/staticmania">
                        <img
                          src="images/icons/LinkedinLogo.svg"
                          alt="Linkedin"
                          class="inline-block dark:hidden"
                        />
                        <img
                          src="images/icons/LinkedinLogo-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://x.com/heystaticmania">
                        <img
                          src="images/icons/x-twitter.svg"
                          alt="Linkedin"
                          class="inline-block"
                        />
                        <img
                          src="images/icons/x-twitter-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://www.instagram.com/staticmania_/">
                        <img
                          src="images/icons/InstagramLogo.svg"
                          alt="Linkedin"
                          class="inline-block dark:hidden"
                        />
                        <img
                          src="images/icons/instagramLogo-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex flex-col gap-10 md:flex-row justify-center">
              <img
                src="images/home-ai/team/ai-team-2.png"
                class="max-w-[300px] h-[289px]"
                alt="Person"
              />
              <div class="grid content-between">
                <p class="max-w-96 lg:max-w-[630px]">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam
                  rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                </p>
                <p class="flex gap-5 items-center max-md:my-4">
                  <span class="text-2xl leading-[28.8px]">John Deo</span>
                  <span>|</span>
                  <span class="text-[13px] font-light"> Founder</span>
                </p>

                <div class="flex items-center justify-between">
                  <div class="flex gap-4 items-center">
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://www.linkedin.com/company/staticmania">
                        <img
                          src="images/icons/LinkedinLogo.svg"
                          alt="Linkedin"
                          class="inline-block dark:hidden"
                        />
                        <img
                          src="images/icons/LinkedinLogo-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://x.com/heystaticmania">
                        <img
                          src="images/icons/x-twitter.svg"
                          alt="Linkedin"
                          class="inline-block"
                        />
                        <img
                          src="images/icons/x-twitter-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://www.instagram.com/staticmania_/">
                        <img
                          src="images/icons/InstagramLogo.svg"
                          alt="Linkedin"
                          class="inline-block dark:hidden"
                        />
                        <img
                          src="images/icons/instagramLogo-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="flex flex-col gap-10 md:flex-row justify-center">
              <img
                src="images/home-ai/team/ai-team-1.png"
                class="max-w-[300px] h-[289px]"
                alt="Person"
              />
              <div class="grid content-between">
                <p class="max-w-96 lg:max-w-[630px]">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium totam
                  rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                </p>
                <p class="flex gap-5 items-center max-md:my-4">
                  <span class="text-2xl leading-[28.8px]">Svetlana Shkurdze</span>
                  <span>|</span>
                  <span class="text-[13px] font-light"> Co-Founder</span>
                </p>

                <div class="flex items-center justify-between">
                  <div class="flex gap-4 items-center">
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://www.linkedin.com/company/staticmania">
                        <img
                          src="images/icons/LinkedinLogo.svg"
                          alt="Linkedin"
                          class="inline-block dark:hidden"
                        />
                        <img
                          src="images/icons/LinkedinLogo-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://x.com/heystaticmania">
                        <img
                          src="images/icons/x-twitter.svg"
                          alt="Linkedin"
                          class="inline-block"
                        />
                        <img
                          src="images/icons/x-twitter-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                    <div
                      class="border p-1 dark:border-dark size-9 hover:-translate-y-2 transition-all duration-500 ease-in-out"
                    >
                      <a href="https://www.instagram.com/staticmania_/">
                        <img
                          src="images/icons/InstagramLogo.svg"
                          alt="Linkedin"
                          class="inline-block dark:hidden"
                        />
                        <img
                          src="images/icons/instagramLogo-dark.svg"
                          alt="Linkedin"
                          class="hidden dark:inline-block"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex items-center gap-5 absolute bottom-0 z-20 right-[10%]">
          <button
            type="button"
            class="swiper-button-prev border p-1 dark:border-dark size-9 flex justify-center items-center hover:bg-primary focus:bg-primary duration-300 ease-in-out transition-colors group"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M12.9422 16.5621C13.0003 16.6201 13.0463 16.6891 13.0777 16.7649C13.1092 16.8408 13.1254 16.9221 13.1254 17.0043C13.1254 17.0864 13.1092 17.1677 13.0777 17.2436C13.0463 17.3194 13.0003 17.3884 12.9422 17.4464C12.8841 17.5045 12.8152 17.5506 12.7393 17.582C12.6634 17.6134 12.5821 17.6296 12.5 17.6296C12.4179 17.6296 12.3366 17.6134 12.2607 17.582C12.1848 17.5506 12.1159 17.5045 12.0578 17.4464L5.80782 11.1964C5.74971 11.1384 5.70361 11.0695 5.67215 10.9936C5.6407 10.9177 5.62451 10.8364 5.62451 10.7543C5.62451 10.6721 5.6407 10.5908 5.67215 10.5149C5.70361 10.439 5.74971 10.3701 5.80782 10.3121L12.0578 4.06207C12.1751 3.94479 12.3342 3.87891 12.5 3.87891C12.6659 3.87891 12.8249 3.94479 12.9422 4.06207C13.0595 4.17934 13.1254 4.3384 13.1254 4.50425C13.1254 4.67011 13.0595 4.82917 12.9422 4.94644L7.1336 10.7543L12.9422 16.5621Z"
                class="fill-black dark:fill-white dark:group-hover:fill-black duration-300 transition-colors ease-in-out"
              />
            </svg>
          </button>
          <button
            type="button"
            class="swiper-button-next border p-1 dark:border-dark size-9 flex justify-center items-center hover:bg-primary focus:bg-primary duration-300 ease-in-out transition-colors group"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="21"
              viewBox="0 0 20 21"
              fill="none"
            >
              <path
                d="M14.1922 11.1964L7.94217 17.4464C7.8841 17.5045 7.81516 17.5506 7.73929 17.582C7.66342 17.6134 7.5821 17.6296 7.49998 17.6296C7.41786 17.6296 7.33654 17.6134 7.26067 17.582C7.1848 17.5506 7.11586 17.5045 7.05779 17.4464C6.99972 17.3884 6.95366 17.3194 6.92224 17.2436C6.89081 17.1677 6.87463 17.0864 6.87463 17.0043C6.87463 16.9221 6.89081 16.8408 6.92224 16.7649C6.95366 16.6891 6.99972 16.6201 7.05779 16.5621L12.8664 10.7543L7.05779 4.94644C6.94052 4.82917 6.87463 4.67011 6.87463 4.50425C6.87463 4.3384 6.94052 4.17934 7.05779 4.06207C7.17507 3.94479 7.33413 3.87891 7.49998 3.87891C7.66583 3.87891 7.82489 3.94479 7.94217 4.06207L14.1922 10.3121C14.2503 10.3701 14.2964 10.439 14.3278 10.5149C14.3593 10.5908 14.3755 10.6721 14.3755 10.7543C14.3755 10.8364 14.3593 10.9177 14.3278 10.9936C14.2964 11.0695 14.2503 11.1384 14.1922 11.1964Z"
                class="fill-black dark:fill-white dark:group-hover:fill-black duration-300 transition-colors ease-in-out"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
</style>
