<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px] relative overflow-hidden"
>
  <div class="container">
    <div class="text-center mb-10 md:mb-20">
      <div class="rv-badge mb-3.5 md:mb-8 reveal-me">
        <span class="rv-badge-text">User Review</span>
      </div>
      <h2 class="text-appear">Simple pricing to boost your brand.</h2>
    </div>
  </div>
  <!-- Clients Logo Marquee -->
  <div class="relative">
    <div
      class="absolute left-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-r from-white to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div
      class="absolute right-0 top-0 h-full w-[15%] md:w-[20%] bg-gradient-to-l from-white to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div class="marquee-container reveal-me">
      <div class="flex gap-7">
        <!--Review Card 01 -->
        <div
          class="max-w-[408px] border dark:border-backgroundBody/10 p-5 ml-7"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-1.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Wade Warren
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Product Designer
              </p>
            </div>
          </div>
          <span class="w-full block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
              class="w-full"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </div>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 02 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-2.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Marvin McKinney
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 03 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-3.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 04 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-4.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!-- Review Card 05 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-5.png"
              alt="Devon Lane"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Devon Lane
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Marketing Specialist at Omega
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 18, 2024</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Reverse -->
  <div class="relative">
    <div
      class="absolute left-0 top-0 h-full w-[10%] md:w-[20%] bg-gradient-to-r from-white to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div
      class="absolute right-0 top-0 h-full w-[10%] md:w-[20%] bg-gradient-to-l from-white to-transparent dark:from-dark-gradient z-40"
    ></div>
    <div class="marquee-reverse-container reveal-me mt-[30px]">
      <div class="flex gap-7">
        <!--Review Card 01 -->
        <div
          class="max-w-[408px] border dark:border-backgroundBody/10 p-5 ml-7"
        >
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-1.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Wade Warren
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Product Designer
              </p>
            </div>
          </div>
          <span class="w-full block">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
              class="w-full"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </div>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 02 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-2.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Marvin McKinney
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 03 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-3.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!--Review Card 04 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-4.png"
              alt="Wade Warren"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Arlene McCoy
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                General Manager at Lattice
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Sed rem perspiciatis unde omnis iste natus quae ab illo inventore
            veritatis et quasi.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>

          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 03, 2024</span
            >
          </div>
        </div>
        <!-- Review Card 05 -->
        <div class="max-w-[408px] border dark:border-backgroundBody/10 p-5">
          <div class="flex items-center space-x-4 pb-4">
            <img
              src="images/avatar/review-5.png"
              alt="Devon Lane"
              class="rounded-full w-16 h-16"
            />
            <div>
              <h3 class="text-[22px] leading-[28.8px] tracking-wide">
                Devon Lane
              </h3>
              <p class="text-[15px] font-light leading-6 mt-[2px]">
                Marketing Specialist at Omega
              </p>
            </div>
          </div>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <blockquote
            class="text-base md:text-xl md:leading-7 md:tracking-[0.4px] text-colorText py-4 text-pretty"
          >
            “Quis autem vel eum iure reprehenderit qui in ea voluptate velit
            esse.”
          </blockquote>
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="2"
              viewBox="0 0 362 2"
              fill="none"
            >
              <path
                class="stroke-secondary dark:stroke-backgroundBody"
                d="M0 0.785156H362"
                stroke-opacity="0.1"
                stroke-dasharray="6 6"
              />
            </svg>
          </span>
          <div class="flex justify-between items-center pt-4">
            <div class="flex items-center space-x-1">
              <img
                src="images/icons/testimonial-logo.png"
                alt="Logo"
                class="inline dark:hidden"
              />
              <img
                src="images/icons/testimonial-dark-logo.png"
                alt="Logo"
                class="dark:inline hidden"
              />
            </div>
            <span class="text-colorText text-sm font-light leading-5"
              >Feb 18, 2024</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
