<!--=====================================
   Client Testimonials Section
======================================-->
<section
  class="pt-14 md:pt-16 lg:pt-[88px] xl:pt-[100px] pb-14 md:pb-16 lg:pb-[88px] xl:pb-[100px]"
>
  <div class="container">
    <!-- Section Heading -->
    <h2 class="text-center mb-10 md:mb-20 text-appear">
      Client <span class="font-instrument italic">testimonials</span>
    </h2>
    <!-- Testimonials Grid -->
    <div class="columns-[300px] gap-6 [&>*:not(:last-child)]:mb-6">
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-1.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Cindy Ibanez
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Founder of Product Hunt
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working withwas an absolute game-changer for our business. From the
          very first meeting, their team took the time to understand our traffic
          and customer unique needs and vision.”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-2.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Darrell Steward
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Founder of Product Hunt
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working withwas an absolute game-changer for our business. From the
          very first meeting, their team took the time to understand our traffic
          and customer unique needs and vision.”
          <br />
          <br />
          They were incredibly responsive, making us feel like a top priority
          throughout the entire process”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-3.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Wade Warren
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              General Manager at Lattice
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working with was an absolute game changer for our business. From the
          very first meeting, theirour unique needs and vision.”
          <br />
          <br />
          They were incredibly responsive, making us feel like a top priority
          throughout the entire process”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-4.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Jacob Jones
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Founder of Product Hunt
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working withwas an absolute game-changer for our business. From the
          very first meeting, their team took the time.”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-5.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Esther Howard
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Founder of Product
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working withwas an absolute game-changer for our business. From the
          very first meeting, their team took the time.”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-6.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Ralph Edwards
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Finance Director
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "They were incredibly responsive throughout the entire process.”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-7.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Kristin Watson
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Founder at Early Exit Club
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working withwas an absolute game-changer for our business. From the
          very first meeting, their team took the time.their attention to detail
          and commitment to delivering a product that exceeds expectations."
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-8.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Albert Flores
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              CEO & Co-Founder at Butter
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working with was an absolute game changer for our business. From the
          very first meeting, their team took the time to understand our unique
          needs and vision. They were incredibly responsive the entire process.”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-9.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Eleanor Pena
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Co-founder at Yonder
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working with was an absolute game changer for our business. From the
          very first meeting, their team took the time to understand our unique
          needs and vision. They were incredibly.”
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-10.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Kathryn Murphy
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              CEO at Vercel
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-6 md:tracking-[0.9px]"
        >
          "Working an absolute game expectations."
        </p>
      </div>
      <!-- Testimonial Card -->
      <div
        class="py-[30px] px-[30px] border dark:border-dark flex flex-col gap-5 reveal-me"
      >
        <div class="flex items-center gap-[15px]">
          <figure>
            <img src="images\avatar\review-11.png" alt="Review Author" />
          </figure>
          <div>
            <h3 class="text-[20px] font-bold leading-[28.8px] tracking-wide">
              Brooklyn Simmons
            </h3>
            <p class="text-base font-light leading-5 font-poppins mt-[3.5px]">
              Analyst at Antler
            </p>
          </div>
        </div>
        <p
          class="italic text-base md:text-[17px] md:leading-7 md:tracking-[0.9px]"
        >
          "Working with was an absolute game changer for our business. From the
          very first meeting. Working with was an”
        </p>
      </div>
    </div>
  </div>
</section>
