<!--=====================================
  Promo Video Section
======================================-->
<section class="video-section reveal-me relative overflow-hidden">
  <!-- Video Wrapper -->
  <div class="w-full h-fit video-wrapper scale-50 origin-top">
    <!-- Autoplay Muted Looping Promo Video -->
    <video class="w-full h-full" autoplay muted loop>
      <source src="images/promo.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</section>
